.hidden {
  display: none; 
}

.fa-right {
  margin-right: 8px; 
}

.fa-left {
  margin-left: 8px; 
}

.fa-red {
  color: $red !important; 
}

.top-fixed {
  margin: 0 !important;
  position: fixed !important;
  top: 0;
}