// Color Palette
$light-purple: #8a64d1;
$purple: #45367c;

// Website Colors
$auth-bkg: #222;
$dashboard-bkg: #222;
$portfolio-bkg: #fff;

// Auth section
$auth-container-height: 250px;
$auth-container-width: 250px;