// Color palette
$very-light-purple: #ffe6ff;
$light-purple: #8a64d1;
$purple: #45367c;
$red: #e06663;

// Website colors
$auth-bkg: #222;
$dashboard-bkg: #222;
$portfolio-bkg: #fff;
$footer-bkg: #222;
$toolbar-bkg: #eee;

// Overall Website
$website-max-width: 1000px;

// Auth section
$auth-container-height: 250px;
$auth-container-width: 250px;

// Toolbar section
$toolbar-height: 50px;
$toolbar-extension-height: 280px;

// Footer section
$footer-height: 73px; // Weird number is 20px padding + logo height of 33px
