@charset "UTF-8";
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
@import url(../../bower_components/c3/c3.css);
@import url(../../bower_components/handsontable/dist/jquery.handsontable.custom.css);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,500italic,700italic,900,900italic);
.hidden {
  display: none; }

.fa-right {
  margin-right: 8px; }

.fa-left {
  margin-left: 8px; }

.fa-red {
  color: #e06663 !important; }

.top-fixed {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6) !important;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6) !important;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6) !important;
  margin: 0 !important;
  opacity: 0.95;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
  filter: alpha(opacity=95);
  position: fixed !important;
  top: 0; }

/* ------------------------------------------
  Reset ♥
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
---------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:focus {
  outline: 0; }

body {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  -webkit-font-smoothing: antialiased; }

body,
input,
textarea,
button {
  font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

h1 {
  color: #ddd;
  font-size: 35px;
  font-weight: 400;
  line-height: 100%; }

h2 {
  color: #999;
  font-size: 26px;
  font-weight: 300;
  line-height: 100%; }

h3 {
  color: #999;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase; }

.faded {
  font-style: italic;
  color: #bbb !important; }

html,
body {
  height: 100%; }

.dashboard-container,
.portfolio-content,
.settings-container,
.data-content {
  min-height: 100%; }
  .dashboard-container:after,
  .portfolio-content:after,
  .settings-container:after,
  .data-content:after {
    content: '';
    display: block; }

.max-width {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%; }

.footer-logo {
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out; }

.modal-backdrop {
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out; }

input[type=email],
input[type=text],
input[type=password],
input {
  border: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0; }

input[readonly] {
  border: none !important; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ffe6ff inset; }

[type=checkbox] {
  display: none; }

[type=checkbox] + label:before {
  content: "\f096";
  font-family: FontAwesome;
  vertical-align: middle; }

[type=checkbox]:checked + label:before {
  content: "\f046";
  font-family: FontAwesome;
  vertical-align: middle; }

[type=radio] {
  display: none; }

[type=radio] + label:before {
  content: "\f10c";
  font-family: FontAwesome;
  margin-right: 6px; }

[type=radio]:checked + label:before {
  content: "\f192";
  font-family: FontAwesome; }

[type="radio"]:checked + label {
  color: #333 !important; }

.dropdown {
  display: inline-block; }
  .dropdown .dropdown-toggle {
    background: none;
    border: none;
    padding: 0; }
    .dropdown .dropdown-toggle:after {
      content: "\f0d7";
      font-family: FontAwesome;
      margin-left: 10px;
      vertical-align: middle; }
  .dropdown .dropdown-menu {
    background: #fff;
    border: none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-clip: padding-box;
    min-width: 120px;
    padding: 0; }
    .dropdown .dropdown-menu .dropdown-header {
      border-bottom: 1px solid #eee;
      color: #999;
      padding: 0 10px; }
    .dropdown .dropdown-menu li {
      color: #999;
      cursor: pointer;
      padding: 0 10px; }
      .dropdown .dropdown-menu li:hover {
        color: #333; }
    .dropdown .dropdown-menu .active {
      color: #8a64d1; }
      .dropdown .dropdown-menu .active:hover {
        color: #8a64d1; }
      .dropdown .dropdown-menu .active:after {
        content: "\f111";
        float: right;
        font-family: FontAwesome;
        font-size: 13px;
        vertical-align: middle; }

.nav-tabs {
  border: none;
  height: 100%; }
  .nav-tabs .navbar-tab a {
    background: none;
    color: #999;
    font-size: 13px;
    font-weight: 500;
    padding: 0 15px;
    text-transform: uppercase; }
    .nav-tabs .navbar-tab a:hover {
      background-color: transparent !important;
      color: #666; }
  .nav-tabs .horizontal-tab {
    display: inline-block; }
    .nav-tabs .horizontal-tab a {
      border-bottom: 3px solid transparent;
      display: inline-block;
      line-height: 47px;
      margin: 0 15px 0 0; }
  .nav-tabs .vertical-tab {
    display: block;
    text-align: right; }
    .nav-tabs .vertical-tab a {
      border-right: 3px solid transparent;
      display: block;
      margin: 15px 0;
      padding: 5px 20px; }
  .nav-tabs .active a {
    background-color: transparent !important;
    border-color: #8a64d1 !important;
    color: #8a64d1 !important; }
    .nav-tabs .active a:hover {
      border-color: #8a64d1; }

.modal {
  margin: 0 auto;
  z-index: 10000; }
  .modal .modal-dialog {
    background: rgba(255, 255, 255, 0.97);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-clip: padding-box;
    max-height: 85%;
    margin-top: 2%;
    overflow-x: hidden;
    overflow-y: auto; }
    .modal .modal-dialog .modal-content {
      background: none;
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      background-clip: padding-box;
      margin-right: -1px;
      overflow: hidden; }
      .modal .modal-dialog .modal-content .modal-title {
        color: #666;
        font-size: 18px;
        font-weight: 500;
        line-height: 100%;
        margin-bottom: 20px;
        padding: 20px; }
      .modal .modal-dialog .modal-content .modal-body {
        padding: 0 20px; }
        .modal .modal-dialog .modal-content .modal-body .small-label {
          color: #999;
          margin: 20px 0 0 0; }
        .modal .modal-dialog .modal-content .modal-body .small-label-focused {
          color: #8a64d1; }
        .modal .modal-dialog .modal-content .modal-body .info-label {
          color: #666;
          font-size: 14px;
          margin-top: 10px; }
        .modal .modal-dialog .modal-content .modal-body input[type=text],
        .modal .modal-dialog .modal-content .modal-body input[type=password],
        .modal .modal-dialog .modal-content .modal-body textarea {
          background: transparent;
          border-bottom: 1px solid #ddd;
          color: #666;
          height: 33px;
          font-size: 15px;
          line-height: 22px;
          padding: 30px 0 15px 0;
          resize: none;
          width: 100%; }
        .modal .modal-dialog .modal-content .modal-body input[type=text]:hover,
        .modal .modal-dialog .modal-content .modal-body input[type=password]:hover,
        .modal .modal-dialog .modal-content .modal-body textarea:hover {
          border-color: #ccc; }
        .modal .modal-dialog .modal-content .modal-body input[type=text]:focus,
        .modal .modal-dialog .modal-content .modal-body input[type=password]:focus,
        .modal .modal-dialog .modal-content .modal-body textarea:focus {
          color: #8a64d1;
          border-bottom: 1px solid #8a64d1; }
        .modal .modal-dialog .modal-content .modal-body .checkbox-group {
          margin: 20px 0 20px 0;
          width: 100%; }
          .modal .modal-dialog .modal-content .modal-body .checkbox-group label {
            color: #999;
            display: inline-block;
            font-size: 15px;
            line-height: 22px; }
            .modal .modal-dialog .modal-content .modal-body .checkbox-group label:before {
              color: #999;
              font-size: 18px;
              margin-right: 10px; }
            .modal .modal-dialog .modal-content .modal-body .checkbox-group label:hover {
              color: #666; }
        .modal .modal-dialog .modal-content .modal-body .error div {
          color: #e06663;
          display: none;
          font-size: 14px;
          margin: 20px 0; }
        .modal .modal-dialog .modal-content .modal-body .inline-input-container {
          display: inline-block;
          margin-right: 20px;
          width: 100px; }
      .modal .modal-dialog .modal-content .modal-footer {
        margin-top: -1px;
        padding: 20px; }
        .modal .modal-dialog .modal-content .modal-footer input[type=button],
        .modal .modal-dialog .modal-content .modal-footer input[type=submit] {
          background-color: transparent;
          border: none;
          font-size: 14px;
          font-weight: 500;
          margin: 0 0 0 10px;
          padding: 5px 15px;
          text-transform: uppercase; }
        .modal .modal-dialog .modal-content .modal-footer input[type=button] {
          color: #bbb; }
          .modal .modal-dialog .modal-content .modal-footer input[type=button]:hover {
            color: #aaa; }
          .modal .modal-dialog .modal-content .modal-footer input[type=button]:focus {
            color: #999; }
        .modal .modal-dialog .modal-content .modal-footer input[type=submit] {
          color: #8a64d1; }
          .modal .modal-dialog .modal-content .modal-footer input[type=submit]:hover {
            color: #6c3dc5; }
          .modal .modal-dialog .modal-content .modal-footer input[type=submit]:focus {
            color: #572fa0; }

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.9); }

.col-md-3 ::-webkit-scrollbar,
.modal ::-webkit-scrollbar {
  background: #fff;
  border-top-right-radius: 2px;
  -moz-border-top-right-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  background-clip: padding-box;
  border-bottom-right-radius: 2px;
  -moz-border-bottom-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  background-clip: padding-box;
  height: 12px;
  width: 14px; }
.col-md-3 ::-webkit-scrollbar-thumb,
.modal ::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-clip: padding-box;
  border: 5px solid #fff;
  margin: 4px; }
.col-md-3 ::-webkit-scrollbar-corner,
.modal ::-webkit-scrollbar-corner {
  background: #fff; }

.auth-bkg {
  background-color: #222222; }
  .auth-bkg .auth-error {
    color: #e06663;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px; }
  .auth-bkg .auth-container {
    height: 250px;
    left: 50%;
    margin-top: -125px;
    margin-left: -125px;
    position: fixed;
    top: 50%;
    width: 250px; }
    .auth-bkg .auth-container input[type=text],
    .auth-bkg .auth-container input[type=password] {
      background-color: #333;
      border-left: 5px solid #45367c;
      color: #999;
      font-size: 13px;
      margin-bottom: 10px;
      padding: 5px 10px;
      width: 250px; }
      .auth-bkg .auth-container input[type=text]:focus,
      .auth-bkg .auth-container input[type=password]:focus {
        background-color: #444;
        border-color: #8a64d1; }
    .auth-bkg .auth-container .auth-info {
      color: #666;
      font-size: 16px;
      line-height: 22px;
      margin: 10px 0 20px 0; }
      .auth-bkg .auth-container .auth-info a {
        color: #8a64d1; }
        .auth-bkg .auth-container .auth-info a:hover {
          color: #a88bdd; }
    .auth-bkg .auth-container input[type=submit] {
      background-color: #999;
      border: none;
      color: #222;
      font-size: 13px;
      font-weight: 600;
      padding: 5px 10px;
      text-transform: uppercase; }
      .auth-bkg .auth-container input[type=submit]:hover {
        background-color: #ccc; }
      .auth-bkg .auth-container input[type=submit]:focus {
        background-color: #eee; }

.dashboard-bkg {
  background-color: #222222; }
  .dashboard-bkg .toolbar-bkg-extension {
    background-color: #eeeeee;
    -webkit-box-shadow: 0 0 2px black;
    -moz-box-shadow: 0 0 2px black;
    box-shadow: 0 0 2px black;
    height: 280px;
    position: absolute;
    width: 100%;
    z-index: -100; }
  .dashboard-bkg .dashboard-container {
    padding-top: 153px;
    text-align: center; }
    .dashboard-bkg .dashboard-container a.dashboard-btn {
      display: inline-block;
      margin: 0 20px;
      width: 160px; }
      .dashboard-bkg .dashboard-container a.dashboard-btn .btn-icon {
        color: #8a64d1;
        font-size: 50px;
        line-height: 100%;
        text-align: center; }
      .dashboard-bkg .dashboard-container a.dashboard-btn .btn-title {
        border-bottom: 10px solid #8a64d1;
        color: #8a64d1;
        font-size: 25px;
        font-weight: 400;
        line-height: 100%;
        padding: 20px 0;
        text-align: center; }
      .dashboard-bkg .dashboard-container a.dashboard-btn .btn-text {
        color: #777;
        font-size: 16px;
        line-height: 24px;
        padding-top: 30px;
        text-align: center; }

.data-bkg {
  background-color: white;
  overflow: hidden; }
  .data-bkg .data-content {
    padding-top: 56px; }
    .data-bkg .data-content #data {
      color: #666;
      font-size: 14px;
      font-weight: 400;
      position: relative;
      width: 100%; }
      .data-bkg .data-content #data .currentRow,
      .data-bkg .data-content #data .currentCol {
        background-color: #f7f7f7; }
    .data-bkg .data-content .data-bottom-bar {
      background-color: #ddd;
      border-top: 1px solid #ccc;
      height: 55px;
      width: 100%; }
      .data-bkg .data-content .data-bottom-bar ul.page-tabs {
        display: inline-block; }
        .data-bkg .data-content .data-bottom-bar ul.page-tabs li {
          border-top: 3px solid transparent;
          color: #999;
          cursor: pointer;
          display: inline-block;
          font-size: 13px;
          font-weight: 500;
          line-height: 49px;
          margin-left: 20px;
          text-transform: uppercase; }
          .data-bkg .data-content .data-bottom-bar ul.page-tabs li:hover {
            color: #666; }
        .data-bkg .data-content .data-bottom-bar ul.page-tabs .active {
          border-top-color: #8a64d1;
          color: #8a64d1; }
          .data-bkg .data-content .data-bottom-bar ul.page-tabs .active:hover {
            color: #8a64d1; }
      .data-bkg .data-content .data-bottom-bar .bottom-bar-text {
        color: #999;
        font-size: 14px;
        line-height: 55px;
        margin-left: 20px; }
      .data-bkg .data-content .data-bottom-bar button {
        border: none;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        background-clip: padding-box;
        color: #fff;
        height: 35px;
        float: right;
        font-size: 12px;
        font-weight: 400;
        margin: 10px 20px 0 20px;
        padding: 0 20px;
        text-transform: uppercase; }
      .data-bkg .data-content .data-bottom-bar .save-btn {
        background-color: #1ebba6;
        border-bottom: 1px solid #178f7f; }
      .data-bkg .data-content .data-bottom-bar .download-btn {
        background-color: #aaa;
        border-bottom: 1px solid #888; }

.portfolio-bkg {
  background-color: #dddddd; }
  .portfolio-bkg .portfolio-toolbar {
    background-color: #eeeeee;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    height: 44px;
    margin-top: 56px;
    position: absolute;
    width: 100%;
    z-index: 50; }
    .portfolio-bkg .portfolio-toolbar .toolbar-section {
      display: inline-block; }
      .portfolio-bkg .portfolio-toolbar .toolbar-section .dropdown {
        margin-right: 80px; }
        .portfolio-bkg .portfolio-toolbar .toolbar-section .dropdown .dropdown-toggle {
          color: #999;
          font-size: 14px;
          font-weight: 400;
          line-height: 44px; }
          .portfolio-bkg .portfolio-toolbar .toolbar-section .dropdown .dropdown-toggle:hover {
            color: #333; }
        .portfolio-bkg .portfolio-toolbar .toolbar-section .dropdown .dropdown-menu {
          margin-top: -44px; }
          .portfolio-bkg .portfolio-toolbar .toolbar-section .dropdown .dropdown-menu .dropdown-header {
            font-size: 14px;
            line-height: 42px; }
          .portfolio-bkg .portfolio-toolbar .toolbar-section .dropdown .dropdown-menu li {
            font-size: 14px;
            line-height: 44px; }
      .portfolio-bkg .portfolio-toolbar .toolbar-section .toolbar-btn, .portfolio-bkg .portfolio-toolbar .toolbar-section .toolbar-switch {
        color: #999;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        line-height: 44px; }
        .portfolio-bkg .portfolio-toolbar .toolbar-section .toolbar-btn:hover, .portfolio-bkg .portfolio-toolbar .toolbar-section .toolbar-switch:hover {
          color: #333; }
      .portfolio-bkg .portfolio-toolbar .toolbar-section > .active {
        color: #8a64d1; }
        .portfolio-bkg .portfolio-toolbar .toolbar-section > .active:hover {
          color: #8a64d1; }
      .portfolio-bkg .portfolio-toolbar .toolbar-section .toolbar-switch {
        margin-left: 20px; }
    .portfolio-bkg .portfolio-toolbar .toolbar-separator {
      color: #ccc;
      display: inline-block;
      font-size: 22px;
      font-weight: 100;
      line-height: 44px;
      margin: -2px 30px 0 30px;
      vertical-align: middle; }
      .portfolio-bkg .portfolio-toolbar .toolbar-separator:before {
        content: "|"; }
  .portfolio-bkg .portfolio-content {
    padding: 140px 0 40px 0; }
    .portfolio-bkg .portfolio-content .portfolio-sub-toolbar {
      display: none; }

.grid .mix,
.list .mix {
  background-color: #fff;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-clip: padding-box;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  display: none; }
  .grid .mix:hover,
  .list .mix:hover {
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); }
  .grid .mix .small-label,
  .list .mix .small-label {
    color: #999; }
  .grid .mix .card-info,
  .list .mix .card-info {
    color: #666;
    font-size: 16px; }

.grid .mix {
  width: 190px;
  height: 190px;
  margin: 3px; }
  .grid .mix .card-header {
    min-height: 74px;
    padding: 20px;
    text-align: center; }
    .grid .mix .card-header img {
      height: 30px; }
  .grid .mix .card-body {
    padding: 0 20px; }
    .grid .mix .card-body > div .small-label {
      margin: 0 0 3px 0; }
    .grid .mix .card-body > div .card-info {
      margin-bottom: 12px; }
    .grid .mix .card-body .hidden-on-grid {
      display: none; }

.list .mix {
  height: 64px;
  margin: 0 0 5px 0;
  width: 100%; }
  .list .mix .card-header {
    float: left;
    padding: 15px 20px;
    text-align: center;
    width: 200px; }
    .list .mix .card-header img {
      height: 30px; }
  .list .mix .card-body {
    float: left; }
    .list .mix .card-body > div {
      float: left;
      margin-left: 40px;
      width: 100px; }
      .list .mix .card-body > div .small-label {
        padding: 10px 0 5px 0; }

.company-bkg {
  background: #dddddd; }
  .company-bkg .company-header {
    background: #222222;
    -webkit-box-shadow: inset 0 0 2px black;
    -moz-box-shadow: inset 0 0 2px black;
    box-shadow: inset 0 0 2px black;
    height: 300px;
    padding-top: 136px; }
    .company-bkg .company-header .company-header-edit {
      color: #666;
      float: right; }
    .company-bkg .company-header .company-header-info .company-logo {
      background-color: #fff;
      border-radius: 500px;
      -moz-border-radius: 500px;
      -webkit-border-radius: 500px;
      background-clip: padding-box;
      -webkit-box-shadow: 0 0 3px black;
      -moz-box-shadow: 0 0 3px black;
      box-shadow: 0 0 3px black;
      float: left;
      height: 100px;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -moz-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      overflow: hidden;
      text-align: center;
      width: 100px; }
      .company-bkg .company-header .company-header-info .company-logo img {
        margin: auto;
        width: 50px; }
    .company-bkg .company-header .company-header-info .company-header-text {
      display: inline-block;
      margin-left: 40px;
      width: 600px; }
      .company-bkg .company-header .company-header-info .company-header-text .company-name {
        margin-bottom: 20px; }
      .company-bkg .company-header .company-header-info .company-header-text .company-description {
        color: #999;
        font-size: 15px;
        line-height: 22px;
        width: 100%; }
      .company-bkg .company-header .company-header-info .company-header-text .company-website {
        font-size: 15px;
        margin-top: 10px; }
        .company-bkg .company-header .company-header-info .company-header-text .company-website > a {
          color: #666; }
          .company-bkg .company-header .company-header-info .company-header-text .company-website > a:hover {
            color: #8a64d1; }
  .company-bkg .company-navbar {
    background-color: #eee;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    height: 50px;
    position: absolute;
    width: 100%;
    z-index: 50; }
  .company-bkg .company-content {
    margin: 120px 0 40px 0; }
    .company-bkg .company-content .tab-content .tab-pane .pane-header {
      border-bottom: 1px solid #ccc;
      margin-bottom: 30px;
      padding-bottom: 20px; }
      .company-bkg .company-content .tab-content .tab-pane .pane-header .quarter-info {
        display: inline-block;
        font-size: 18px;
        font-weight: 300; }
        .company-bkg .company-content .tab-content .tab-pane .pane-header .quarter-info .quarter-label {
          color: #666;
          display: inline-block; }
        .company-bkg .company-content .tab-content .tab-pane .pane-header .quarter-info .quarter-value {
          color: #1ebba6;
          display: inline-block;
          font-weight: 500;
          margin: 0 5px; }
    .company-bkg .company-content .tab-content .tab-pane > div {
      margin-bottom: 20px;
      position: relative; }
      .company-bkg .company-content .tab-content .tab-pane > div h2 {
        display: inline-block;
        margin: 0 0 10px 0; }
      .company-bkg .company-content .tab-content .tab-pane > div h3 {
        display: inline-block;
        margin: 0 0 10px 0; }
      .company-bkg .company-content .tab-content .tab-pane > div .block-control {
        line-height: 20px;
        position: absolute;
        right: 10px;
        top: 0;
        padding-top: 10px; }
        .company-bkg .company-content .tab-content .tab-pane > div .block-control label {
          color: #999;
          display: inline-block;
          margin-left: 20px; }
          .company-bkg .company-content .tab-content .tab-pane > div .block-control label:hover {
            color: #666; }
      .company-bkg .company-content .tab-content .tab-pane > div .block-edit {
        color: #999;
        line-height: 20px;
        position: absolute;
        right: 10px;
        top: 0;
        cursor: pointer; }
        .company-bkg .company-content .tab-content .tab-pane > div .block-edit:hover {
          color: #8a64d1; }
      .company-bkg .company-content .tab-content .tab-pane > div .block-info {
        background-color: #fff;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        background-clip: padding-box;
        border-bottom: 1px solid #ccc;
        color: #666;
        font-size: 15px;
        line-height: 30px;
        padding: 20px;
        width: 100%; }
        .company-bkg .company-content .tab-content .tab-pane > div .block-info a {
          color: #8a64d1; }
          .company-bkg .company-content .tab-content .tab-pane > div .block-info a:hover {
            color: #45367c; }
        .company-bkg .company-content .tab-content .tab-pane > div .block-info h4 {
          font-weight: 500; }
        .company-bkg .company-content .tab-content .tab-pane > div .block-info > div {
          margin: 0 0 10px 0; }
        .company-bkg .company-content .tab-content .tab-pane > div .block-info > div:last-child {
          margin-bottom: 0px; }
        .company-bkg .company-content .tab-content .tab-pane > div .block-info ul.block-list .list-item {
          margin-bottom: 20px;
          position: relative; }
          .company-bkg .company-content .tab-content .tab-pane > div .block-info ul.block-list .list-item .item-info {
            display: inline-block;
            min-width: 400px; }
            .company-bkg .company-content .tab-content .tab-pane > div .block-info ul.block-list .list-item .item-info img {
              border-radius: 100px;
              -moz-border-radius: 100px;
              -webkit-border-radius: 100px;
              background-clip: padding-box;
              float: left;
              height: 80px;
              margin-right: 20px; }
            .company-bkg .company-content .tab-content .tab-pane > div .block-info ul.block-list .list-item .item-info .placeholder-img {
              background-color: #eee;
              border-radius: 100px;
              -moz-border-radius: 100px;
              -webkit-border-radius: 100px;
              background-clip: padding-box;
              float: left;
              margin-right: 20px;
              width: 80px; }
            .company-bkg .company-content .tab-content .tab-pane > div .block-info ul.block-list .list-item .item-info .item-header {
              font-weight: 500;
              line-height: 100%;
              margin: 10px 0; }
              .company-bkg .company-content .tab-content .tab-pane > div .block-info ul.block-list .list-item .item-info .item-header span {
                font-weight: 400; }
            .company-bkg .company-content .tab-content .tab-pane > div .block-info ul.block-list .list-item .item-info .item-date {
              color: #999;
              font-size: 14px;
              line-height: 100%; }
            .company-bkg .company-content .tab-content .tab-pane > div .block-info ul.block-list .list-item .item-info .item-text {
              font-size: 14px;
              line-height: 100%;
              margin-top: 10px; }
          .company-bkg .company-content .tab-content .tab-pane > div .block-info ul.block-list .list-item .item-edit {
            color: #999;
            font-size: 16px;
            padding: 0 10px;
            position: absolute;
            top: 0;
            right: 0;
            vertical-align: middle; }
            .company-bkg .company-content .tab-content .tab-pane > div .block-info ul.block-list .list-item .item-edit:hover {
              color: #8a64d1; }
      .company-bkg .company-content .tab-content .tab-pane > div .block-num {
        font-size: 22px;
        text-align: center; }
      .company-bkg .company-content .tab-content .tab-pane > div .block-graph {
        height: 420px;
        padding: 20px;
        width: 100%; }
      .company-bkg .company-content .tab-content .tab-pane > div .block-table {
        max-height: 420px;
        overflow-y: auto;
        padding: 10px !important; }
        .company-bkg .company-content .tab-content .tab-pane > div .block-table .table-section {
          border-radius: 2px;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          background-clip: padding-box;
          padding: 10px;
          position: relative; }
          .company-bkg .company-content .tab-content .tab-pane > div .block-table .table-section .value {
            color: #666;
            line-height: 100%;
            margin-bottom: 8px; }
          .company-bkg .company-content .tab-content .tab-pane > div .block-table .table-section .date {
            color: #999;
            font-size: 13px;
            line-height: 100%; }
          .company-bkg .company-content .tab-content .tab-pane > div .block-table .table-section .edit-btn {
            color: #999;
            position: absolute;
            top: 10px;
            right: 10px; }
        .company-bkg .company-content .tab-content .tab-pane > div .block-table .highlighted-section {
          background-color: #fff5cf;
          border-bottom: 1px solid #ffe7c2; }
    .company-bkg .company-content .tab-content .overview-pane > div .block-info {
      min-height: 190px; }
    .company-bkg .company-content .tab-content .graph-pane .col-md-3,
    .company-bkg .company-content .tab-content .graph-pane .col-md-6,
    .company-bkg .company-content .tab-content .graph-pane .col-md-9 {
      max-height: 420px; }
    .company-bkg .company-content .tab-content .graph-pane .graph-padding {
      width: 100%; }

.edit-btn {
  cursor: pointer;
  font-size: 14px; }
  .edit-btn:hover {
    color: #8a64d1 !important; }

.edit-disabled {
  color: #bbb !important;
  cursor: not-allowed !important; }
  .edit-disabled:hover {
    color: #bbb !important; }

.bottom-line {
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
  margin-bottom: 30px; }
  .bottom-line .col-md-2, .bottom-line .col-md-8, .bottom-line .col-md-10 {
    padding-top: 10px; }

svg {
  width: 100%; }

.graph-padding::before {
  height: 100%;
  width: 10%;
  right: 0;
  content: "\00a0";
  position: absolute;
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), white);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0))), to(white);
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0)), white;
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), white);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  background-repeat: repeat-x;
  pointer-events: none; }

.c3-tooltip {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

.c3-tooltip td > span {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-clip: padding-box; }

.toolbar {
  background: #eeeeee;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  height: 56px;
  line-height: 50px;
  top: 0px;
  vertical-align: middle;
  width: 100%;
  z-index: 50; }
  .toolbar .pull-left > * {
    margin-right: 30px; }
  .toolbar .pull-right > * {
    margin-left: 30px; }
  .toolbar a {
    border-top: 3px solid transparent;
    color: #777;
    display: inline-block;
    font-size: 14px;
    font-weight: 500; }
    .toolbar a:hover {
      color: #8a64d1; }
  .toolbar .active {
    border-color: #8a64d1;
    color: #8a64d1; }

.toolbar-absolute {
  position: absolute; }

.toolbar-fixed {
  position: fixed; }

.toolbar-light-shadow {
  -webkit-box-shadow: 0 0 2px #bbbbbb;
  -moz-box-shadow: 0 0 2px #bbbbbb;
  box-shadow: 0 0 2px #bbbbbb; }

.toolbar-dark-shadow {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); }

.toolbar-padding {
  padding: 0 20px; }

.toolbar-dark {
  background: #222222 !important; }
  .toolbar-dark span {
    color: #666 !important; }
  .toolbar-dark a {
    color: #999 !important; }
    .toolbar-dark a:hover {
      color: #fff !important; }
  .toolbar-dark .active {
    border-color: #fff;
    color: #fff !important; }

.auth-footer,
.footer {
  background-color: #222222;
  height: 73px;
  padding: 20px 0;
  width: 100%; }
  .auth-footer .footer-nav,
  .footer .footer-nav {
    margin: 0 auto;
    width: 90%; }
    .auth-footer .footer-nav .footer-logo,
    .footer .footer-nav .footer-logo {
      display: inline-block;
      opacity: 0.5;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
      filter: alpha(opacity=50);
      width: 120px; }
      .auth-footer .footer-nav .footer-logo:hover,
      .footer .footer-nav .footer-logo:hover {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100); }
    .auth-footer .footer-nav .footer-text,
    .footer .footer-nav .footer-text {
      color: #666;
      font-size: 14px;
      line-height: 33px;
      margin-left: 50px; }
    .auth-footer .footer-nav .footer-links a,
    .footer .footer-nav .footer-links a {
      color: #999;
      font-size: 14px;
      font-weight: 500;
      line-height: 33px;
      margin-left: 30px; }
      .auth-footer .footer-nav .footer-links a:hover,
      .footer .footer-nav .footer-links a:hover {
        color: #fff; }

.auth-footer {
  bottom: 0;
  position: absolute; }

.settings-bkg {
  background-color: #dddddd; }
  .settings-bkg .settings-container .settings-header {
    background-color: #222222;
    height: 100px;
    margin-top: 56px; }
    .settings-bkg .settings-container .settings-header .header-title {
      padding-top: 35px; }
  .settings-bkg .settings-container .settings-content-wrapper .settings-sidebar {
    background-color: transparent;
    float: left;
    margin-top: 40px;
    width: 120px; }
  .settings-bkg .settings-container .settings-content-wrapper .settings-content {
    background-color: white;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    margin-left: 120px;
    padding: 40px 40px 0 40px;
    width: calc(100% - $settings-sidebar-width); }
    .settings-bkg .settings-container .settings-content-wrapper .settings-content .tab-content {
      min-height: 100vh;
      overflow: visible; }
      .settings-bkg .settings-container .settings-content-wrapper .settings-content .tab-content .tab-pane .owner {
        padding: 20px 0 0 0; }
        .settings-bkg .settings-container .settings-content-wrapper .settings-content .tab-content .tab-pane .owner .owner-info {
          display: inline-table;
          min-width: 200px; }
          .settings-bkg .settings-container .settings-content-wrapper .settings-content .tab-content .tab-pane .owner .owner-info .name {
            color: #666;
            font-size: 15px;
            margin-bottom: 3px; }
          .settings-bkg .settings-container .settings-content-wrapper .settings-content .tab-content .tab-pane .owner .owner-info .email {
            color: #999;
            font-size: 13px; }
            .settings-bkg .settings-container .settings-content-wrapper .settings-content .tab-content .tab-pane .owner .owner-info .email:hover {
              color: #8a64d1; }
        .settings-bkg .settings-container .settings-content-wrapper .settings-content .tab-content .tab-pane .owner .owner-edit {
          color: #999;
          display: inline-table;
          font-size: 16px;
          line-height: 39px;
          margin-top: 5px;
          padding: 0 10px;
          vertical-align: middle; }
          .settings-bkg .settings-container .settings-content-wrapper .settings-content .tab-content .tab-pane .owner .owner-edit:hover {
            color: #8a64d1; }
      .settings-bkg .settings-container .settings-content-wrapper .settings-content .tab-content .tab-pane .add-owner {
        color: #999;
        display: block;
        font-size: 15px;
        font-weight: 500;
        margin-top: 20px;
        max-width: 200px; }
        .settings-bkg .settings-container .settings-content-wrapper .settings-content .tab-content .tab-pane .add-owner:hover {
          color: #8a64d1; }
