//- jquery needed for form validation
script(type="text/javascript"): include ../../public/scripts/jquery.min.js

include ../mixins/edit_modal_mixin

+edit_modal("/portfolio/add_user", "add-company", "Add Company")
  #username-error.error
  input(type="text"  placeholder="Username"  name="username"  id="username"  autocomplete="off").required

  #password-error.error
  input(type="password" placeholder="Password"  name="password"  id="password"  autocomplete="off")

  #password2-error.error
  input(type="password" placeholder="Confirm password"  name="password2"  id="password2"  autocomplete="off")
    
  //- Commented out calendar picker
  //- .col-lg-12: input(type="text" name='init_investmt_date' class='calendar_input' placeholder="Date of initial investment"  id="datepicker")

  input(type='text' name='crunchbase_permalink', placeholder='Crunchbase permalink'  autocomplete="off")
    
  div.small-label Owner(s)
  div.checkbox-group
    input(type="checkbox" name="owners" id="Chris" value="Chris") 
    label(for="Chris") Chris
  div.checkbox-group
    input(type="checkbox" name="owners" id="Drew" value="Drew") 
    label(for="Drew") Drew
  div.checkbox-group
    input(type="checkbox" name="owners" id="Joe" value="Joe") 
    label(for="Joe") Joe


  script.
    $('#add-company').submit(function(e) {
      
      var errors = {};

      $('.error').html('');

      if ($("#username").val().trim() === '')
        errors['#username'] = '<span>You must include a name for the company.</span>';

      if ($('#password').val() === '')
        errors['#password'] = '<span>You must include a password for the company.</span>';

      if ($('#password').val() !== $('#password2').val())
        errors['#password2'] = '<span>Your passwords don\'t match.</span>';

      var count = 0;
      for (var k in errors) {
        $(k+'-error').html(errors[k]);
        count++;
      }
      return (count === 0);
    });