include ../mixins/edit_modal_mixin

+edit_modal("/portfolio/add_user", "add-company", "Add Company")
  input(type="text"  placeholder="Company name"  name="username"  autocomplete="off")
  input(type="password" placeholder="Password"  name="password"  autocomplete="off")
  input(type="password" placeholder="Confirm password"  name="password2"  autocomplete="off")
    
  //- Commented out calendar picker
  //- .col-lg-12: input(type="text" name='init_investmt_date' class='calendar_input' placeholder="Date of initial investment"  id="datepicker")
  
  input(type='text' name='crunchbase_permalink', placeholder="Crunchbase permalink"  autocomplete="off")

  div.small-label Owner(s)
  select(multiple name='owners')
    option(value='Joe') Joe
    option(value='Chris') Chris
    option(value='Drew') Drew

script.
  $('#button').click( function() {       
    $("#form").validate({              
      rules: {
        phone: {
          required: true,
          number: true,
          rangelength: [7, 14]
        }
      }
    }).form(); 
  });
