//- JQuery needed for form validation
//- This shouldn't be the case... looking into it
//- --Zack
script(type="text/javascript"): include ../../public/scripts/jquery.min.js

include ../mixins/edit_modal_mixin

+edit_modal("/portfolio/add_user", "add-company", "Add Company")
  .error#username-error
    div You must include a name for the company.
  input(type="text"  placeholder="Username"  name="username"  id="username"  autocomplete="off")

  .error#password-error
    div You must include a password for the company.
  input(type="password" placeholder="Password"  name="password"  id="password"  autocomplete="off")

  .error#password2-error
    div Your passwords don't match.
  input(type="password" placeholder="Confirm password"  name="password2"  id="password2"  autocomplete="off")
    
  //- Commented out calendar picker
  //- .col-lg-12: input(type="text" name='init_investmt_date' class='calendar_input' placeholder="Date of initial investment"  id="datepicker")

  input(type="text" name="crunchbase_permalink", placeholder="Crunchbase permalink"  autocomplete="off")
    
  div.small-label Owner(s)
  div.checkbox-group
    input(type="checkbox" name="owners" id="Chris" value="Chris") 
    label(for="Chris") Chris
  div.checkbox-group
    input(type="checkbox" name="owners" id="Drew" value="Drew") 
    label(for="Drew") Drew
  div.checkbox-group
    input(type="checkbox" name="owners" id="Joe" value="Joe") 
    label(for="Joe") Joe


  script.

    // When add company form is submitted
    $('#add-company').submit(function() {

      // Initialize error tests
      var noUsername = ($('#username').val().trim() == ''),
          noPassword = ($('#password').val().trim() == ''),
          differentPasswords = ($('#password2').val() != $('#password').val());

      // Run handle error functions on error fields and tests
      // Only submit if all three tests pass
      return handleError($('#username-error div'), noUsername) &&
             handleError($('#password-error div'), noPassword) &&
             handleError($('#password2-error div'), differentPasswords);
      
    });

    // Given an error field and the potential error, decide whether or not
    // to display the error message & submit the form
    function handleError(error_field, error) {
      if(error) {
        error_field.show();
        return false;
      } else {
        error_field.hide();
        return true;
      }
    }






