include ../mixins/edit_modal_mixin

+edit_modal("/owners/add", "add-owner-form", "Add Owner")

  //- Name section
  .small-label Full name
  .error#name-error: div You must include a name for the owner.

  //- This is a fake input field to stop Chrome from autocompleting
  input(type="text" name="name" id="name_fake" autocomplete="off" disabled).hidden

  //- This is the real input field
  input(type="text" name="name"  id="name"  autocomplete="off" autofocus)


  //- Email section
  .small-label Email
  .error#email-error: div You must include an email address for the owner.

  //- Name value set by javascript in settings.jade based on owner selected
  input(type="text" name="email"  id="email"  autocomplete="off")


  //- Companies section
  .small-label Companies
  if (all_companies.length == 0 || (all_companies.length == 1  &&  all_companies[0].username == 'admin'))
    .info-label There are no companies in the system
  else
    for c in all_companies
      if (c.username != 'admin')
        .checkbox-group
          input(type="checkbox" name="companies" id=c.username value=c.username)
          label(for=c.username) #{c.username}