include ../mixins/edit_modal_mixin

+edit_modal("/portfolio/"+permalink+"/edit", "edit-header", "Edit Header")
  div.small-label Image path
  input(type="text"  placeholder="Add image path"  name="image"  autocomplete="off" value=(p) ? p.img_path : undefined)

  div.small-label Company description
  textarea(placeholder="Add company description"  name="short_descrip"  autocomplete="off") 
      if (p)
        | #{p.short_descrip}

  div.small-label Homepage url
  input(type="text"  placeholder="Add homepage url"  name="homepage_url"  autocomplete="off" value=(p) ? p.homepage_url : undefined)