include ../mixins/edit_modal_mixin

+edit_modal("/portfolio/"+permalink+"/edit", "edit-operational", "Edit User Metrics")
  div.small-label Gross Burn
  input(type="text"  placeholder="Add gross burn"  name="gross_burn"  autocomplete="off" value="")

  div.small-label Net Burn
  input(type="text"  placeholder="Add net burn"  name="net_burn"  autocomplete="off" value="")

  div.small-label Revenue
  input(type="text"  placeholder="Add revenue"  name="revenue"  autocomplete="off" value="")

  div.small-label Head Count
  input(type="text"  placeholder="Add head count"  name="head_count"  autocomplete="off" value="")

+edit_modal("/portfolio/"+permalink+"/edit", "edit-operational-gross-burn", "Edit Gross Burn")
  div.small-label Gross Burn
  input(type="text"  placeholder="Add gross burn"  name="gross_burn"  autocomplete="off" value="")

+edit_modal("/portfolio/"+permalink+"/edit", "edit-operational-net-burn", "Edit Net Burn")
  div.small-label Net Burn
  input(type="text"  placeholder="Add net burn"  name="net_burn"  autocomplete="off" value="")

+edit_modal("/portfolio/"+permalink+"/edit", "edit-operational-revenue", "Edit Revenue")
  div.small-label Revenue
  input(type="text"  placeholder="Add revenue"  name="revenue"  autocomplete="off" value="")

+edit_modal("/portfolio/"+permalink+"/edit", "edit-operational-head-count", "Edit Head Count")
  div.small-label Head Count
  input(type="text"  placeholder="Add head count"  name="head_count"  autocomplete="off" value="")