include ../mixins/edit_modal_mixin
include ../mixins/Q_year_inputs_mixin


+edit_modal("/portfolio/"+permalink+"/editMetrics", "edit-economics-ltv", "Add")
  input(type="hidden" name="form_name" value="economics")

  .small-label LTV
  input(type="text"  placeholder="Add LTV"  name="ltv"  autocomplete="off")
  +q_year_inputs()


+edit_modal("/portfolio/"+permalink+"/editMetrics", "edit-economics-lifetime-est", "Add")
  input(type="hidden" name="form_name" value="economics")

  .small-label Lifetime Estimate
  input(type="text"  placeholder="Add lifetime est."  name="lifetime_est"  autocomplete="off")
  +q_year_inputs()


+edit_modal("/portfolio/"+permalink+"/editMetrics", "edit-economics-cac", "Add")
  input(type="hidden" name="form_name" value="economics")

  .small-label CAC
  input(type="text"  placeholder="Add CAC"  name="cac"  autocomplete="off")
  +q_year_inputs()


+edit_modal("/portfolio/"+permalink+"/editMetrics", "edit-economics-asp", "Add")
  input(type="hidden" name="form_name" value="economics")

  .small-label ASP
  input(type="text"  placeholder="Add ASP"  name="asp"  autocomplete="off")
  +q_year_inputs()


+edit_modal("/portfolio/"+permalink+"/editMetrics", "edit-economics-gm", "Add")
  input(type="hidden" name="form_name" value="economics")

  .small-label GM %
  input(type="text"  placeholder="Add GM %"  name="gm_percentage"  autocomplete="off")
  +q_year_inputs()