include ../mixins/edit_modal_mixin
include ../mixins/Q_year_inputs_mixin

//- CASH
+edit_modal("/portfolio/"+permalink+"/editMetrics", "edit-operational-cash", "Add")
  input(type="hidden"  name="form_name"  value="operational")
  .small-label Cash
  input(type="text"  placeholder="Add cash"  name="cash"  autocomplete="off")
  +q_year_inputs()


+edit_modal("/portfolio/"+permalink+"/deleteDatum", "del-datum-operational-cash", "Delete")
  input(type="hidden"  name="form_name"  value="operational")
  .warning Are you sure you want to delete this data?
  .hidden
    input(type="text"  name="cash"  autocomplete="off")
    +q_year_inputs()



//- PREDICTED GROSS BURN
+edit_modal("/portfolio/"+permalink+"/editMetrics", "edit-operational-pred-gross-burn", "Edit")
  input(type="hidden" name="form_name" value="operational")
  .small-label Forecasted Gross Burn
  input(type="text"  placeholder="Add forecasted gross burn"  name="pred_gross_burn"  autocomplete="off")
  +q_year_inputs()


+edit_modal("/portfolio/"+permalink+"/deleteDatum", "del-datum-operational-pred-gross-burn", "Delete")
  input(type="hidden"  name="form_name"  value="operational")
  .warning Are you sure you want to delete this data?
  .hidden
    input(type="text"  name="pred_gross_burn"  autocomplete="off")
    +q_year_inputs()



//- GROSS BURN
+edit_modal("/portfolio/"+permalink+"/editMetrics", "edit-operational-gross-burn", "Add")
  input(type="hidden" name="form_name" value="operational")
  .small-label Gross Burn
  input(type="text"  placeholder="Add gross burn"  name="gross_burn"  autocomplete="off")
  +q_year_inputs()


+edit_modal("/portfolio/"+permalink+"/deleteDatum", "del-datum-operational-gross-burn", "Delete")
  input(type="hidden"  name="form_name"  value="operational")
  .warning Are you sure you want to delete this data?
  .hidden
    input(type="text"  name="gross_burn"  autocomplete="off")
    +q_year_inputs()



//- PREDICTED NET BURN
+edit_modal("/portfolio/"+permalink+"/editMetrics", "edit-operational-pred-net-burn", "Add")
  input(type="hidden" name="form_name" value="operational")
  .small-label Forecasted Net Burn
  input(type="text"  placeholder="Add forecasted net burn"  name="pred_net_burn"  autocomplete="off")
  +q_year_inputs()


+edit_modal("/portfolio/"+permalink+"/deleteDatum", "del-datum-operational-pred-net-burn", "Delete")
  input(type="hidden"  name="form_name"  value="operational")
  .warning Are you sure you want to delete this data?
  .hidden
    input(type="text"  name="pred_net_burn"  autocomplete="off")
    +q_year_inputs()



//- NET BURN
+edit_modal("/portfolio/"+permalink+"/editMetrics", "edit-operational-net-burn", "Add")
  input(type="hidden" name="form_name" value="operational")
  .small-label Net Burn
  input(type="text"  placeholder="Add net burn"  name="net_burn"  autocomplete="off")
  +q_year_inputs()


+edit_modal("/portfolio/"+permalink+"/deleteDatum", "del-datum-operational-net-burn", "Delete")
  input(type="hidden"  name="form_name"  value="operational")
  .warning Are you sure you want to delete this data?
  .hidden
    input(type="text"  name="net_burn"  autocomplete="off")
    +q_year_inputs()



//- REVENUE
+edit_modal("/portfolio/"+permalink+"/editMetrics", "edit-operational-revenue", "Add")
  input(type="hidden" name="form_name" value="operational")
  .small-label Revenue
  input(type="text"  placeholder="Add revenue"  name="revenue"  autocomplete="off")
  +q_year_inputs()


+edit_modal("/portfolio/"+permalink+"/deleteDatum", "del-datum-operational-revenue", "Delete")
  input(type="hidden"  name="form_name"  value="operational")
  .warning Are you sure you want to delete this data?
  .hidden
    input(type="text"  name="revenue"  autocomplete="off")
    +q_year_inputs()


//- HEAD COUNT
+edit_modal("/portfolio/"+permalink+"/editMetrics", "edit-operational-head-count", "Add")
  input(type="hidden" name="form_name" value="operational")
  .small-label Head Count
  input(type="text"  placeholder="Add head count"  name="head_count"  autocomplete="off")
  +q_year_inputs()


+edit_modal("/portfolio/"+permalink+"/deleteDatum", "del-datum-operational-head-count", "Delete")
  input(type="hidden"  name="form_name"  value="operational")
  .warning Are you sure you want to delete this data?
  .hidden
    input(type="text"  name="head_count"  autocomplete="off")
    +q_year_inputs()


