include ../mixins/edit_modal_mixin


+edit_modal("/portfolio/"+permalink+"/editMetrics", "edit-user-dau", "Add")
  input(type="hidden" name="form_name" value="user_metrics")

  .small-label AVG DAU
  input(type="text"  placeholder="Add AVG DAU"  name="avg_dau"  autocomplete="off")
  +q_year_inputs()


+edit_modal("/portfolio/"+permalink+"/editMetrics", "edit-user-mau", "Add")
  input(type="hidden" name="form_name" value="user_metrics")

  .small-label AVG MAU
  input(type="text"  placeholder="Add AVG MAU"  name="avg_mau"  autocomplete="off")
  +q_year_inputs()


+edit_modal("/portfolio/"+permalink+"/editMetrics", "edit-user-churn", "Add")
  input(type="hidden" name="form_name" value="user_metrics")

  .small-label Churn
  input(type="text"  placeholder="Add churn"  name="churn"  autocomplete="off")
  +q_year_inputs()