.toolbar-section.pull-left
  .dropdown#owner-dropdown
    button.dropdown-toggle(type="button", data-toggle="dropdown") Owner
    ul.dropdown-menu
      .dropdown-header Owner
      li.filter(data-filter="all").active All
      if owners
        for o in owners
          li.filter(data-filter=".#{o.id}") #{o.name}
      li.filter(data-filter=".none") No owner

.toolbar-section.pull-left
  .dropdown#order-dropdown
    button.dropdown-toggle(type="button", data-toggle="dropdown") Order
    ul.dropdown-menu
      .dropdown-header Order
      li.sort(data-sort="name:asc").active: i.fa.fa-sort-alpha-asc
      li.sort(data-sort="name:dec"): i.fa.fa-sort-alpha-desc

.toolbar-section.pull-right
  .toolbar-btn#add-company-btn(data-toggle="modal" data-target="#add-company-form") 
    i.fa.fa-plus.fa-right
    | Add

.toolbar-separator.pull-right

.toolbar-section.pull-right
  .toolbar-switch.active#layout-grid-btn
    i.fa.fa-th-large 
  .toolbar-switch#layout-list-btn
    i.fa.fa-align-justify