.footer-nav
  a(href="http://www.formation8.com").footer-logo.pull-left
      img(src="../../assets/images/formation8logo.png")
  span.footer-text.pull-left
    | &copy; 2013 Formation 8.  All rights reserved.
  .footer-links.pull-right
    a(href="")
      i.fa.fa-send-o.fa-right
      | Feedback
    a(href="mailto:zelliottm@gmail.com") 
      i.fa.fa-life-ring.fa-right
      | Support