head

  //- Page title
  title #{title}

  //- Favicon
  link(rel='shortcut icon', href='http://formation8.com/wp-content/uploads/favicon.ico')

  //- Stylesheets
  link(type="text/css", rel="stylesheet", href="../../bower_components/bootstrap/dist/css/bootstrap.custom.css")
  link(type="text/css", media="screen", rel="stylesheet", href="../../styles/css/screen.css")
  //- link(type="text/css", media="print", rel="stylesheet", href="../../styles/css/print.css")
  
  script(type="text/javascript", src="../../bower_components/jquery/jquery.min.js")