head

  //- Page title
  title #{title}

  //- Favicon
  link(rel='shortcut icon', href='http://formation8.com/wp-content/uploads/favicon.ico')

  //- Stylesheets
  style(type="text/css", media="screen"): include ../../public/stylesheets/css/screen.css
  style(type="text/css", media="print"): include ../../public/stylesheets/css/print.css

  //- Scripts
  script(type="text/javascript"): include ../../public/scripts/jquery.min.js
  script(type="text/javascript"): include ../../public/scripts/jquery-ui.js
  script(type='text/javascript'): include ../../public/scripts/jquery.autosize.min.js
  script(type="text/javascript"): include ../../public/bootstrap/js/bootstrap.js
  script(type='text/javascript'): include ../../public/scripts/jquery.mixitup.js