head

  //- Page title
  title #{title}

  //- Favicon
  link(rel='shortcut icon', href='http://formation8.com/wp-content/uploads/favicon.ico')

  //- Stylesheets
  style(type="text/css", media="screen"): include ../../public/stylesheets/css/screen.css
  style(type="text/css", media="print"): include ../../public/stylesheets/css/print.css

  //- Scripts
  script(type="text/javascript"): include ../../bower_components/jquery/jquery.min.js
  script(type="text/javascript"): include ../../bower_components/jquery-ui/jquery-ui.min.js
  script(type='text/javascript'): include ../../bower_components/jquery-autosize/jquery.autosize.min.js
  script(type="text/javascript"): include ../../bower_components/bootstrap/dist/js/bootstrap.min.js
  script(type='text/javascript'): include ../../bower_components/mixitup/build/jquery.mixitup.min.js