head

  //- Page title
  title #{title}

  //- Favicon
  link(rel='shortcut icon', href='http://formation8.com/wp-content/uploads/favicon.ico')

  //- Stylesheets
  link(type="text/css", media="screen", rel="stylesheet", href="../../stylesheets/css/screen.css")
  link(type="text/css", media="print", rel="stylesheet", href="../../stylesheets/css/print.css")

  //- Scripts
  script(type="text/javascript", src="../../bower_components/jquery/jquery.min.js")
  script(type="text/javascript", src="../../bower_components/jquery-ui/jquery-ui.min.js")
  script(type='text/javascript', src="../../bower_components/jquery-autosize/jquery.autosize.min.js")
  script(type='text/javascript', src="../../bower_components/mixitup/build/jquery.mixitup.min.js")
  script(type="text/javascript", src="../../bower_components/bootstrap/dist/js/bootstrap.min.js")
  script(type='text/javascript', src="../../bower_components/handlebars/handlebars.min.js")
  script(type='text/javascript', src="../../bower_components/ember/ember.min.js")
  script(type='text/javascript', src="../../bower_components/ember-data/ember-data.min.js")
  script(type='text/javascript', src="../../bower_components/d3/d3.min.js")
  script(type='text/javascript', src="../../bower_components/lodash/dist/lodash.min.js")
  script(type='text/javascript', src="../../bower_components/ember-charts/dist/ember-charts.js")