.controls-container
  .control-section.pull-left
    div Owner
    button.filter(data-filter='all') All
    button.filter(data-filter='.Joe') Joe
    button.filter(data-filter='.Drew') Drew
    button.filter(data-filter='.Chris') Chris
    button.filter(data-filter='.none') No owner

  .control-section
    div Sort
    button.sort(data-sort='name:asc'): i.fa.fa-sort-alpha-asc
    button.sort(data-sort='name:dec'): i.fa.fa-sort-alpha-desc

  .control-section.pull-right
    div Actions
    a(href='../portfolio/add_user'): button 
      i.fa.fa-plus.fa-right
      | Add