script(type='text/javascript'): include ../../public/scripts/filters.js
script(type='text/javascript'): include ../../public/scripts/add-company.js


script.

  // When document has is ready
  $(document).ready(function() {

    // Settings for tooltip
    $('.tooltip_a a').tooltip({
        placement : 'bottom',
        html: true,
        effect: 'slide',
        content: 'loading...',
        open: function (event, ui) {
            $(ui.tooltip).appendTo(this);
        }
    });

    // Initialize mixItUp
    $('.portfolio-table').mixItUp();

    // Initialize datepicker
    $('#datepicker').datepicker({
      format: 'dd/mm/yyyy'
    });

    // Initialize addCompany
    addCompany.init();
  });