script(type='text/javascript'): include ../../public/scripts/Scroll.js
script(type='text/javascript'): include ../../public/scripts/AddCompany.js
script(type='text/javascript'): include ../../public/scripts/Portfolio.js
script(type='text/javascript'): include ../../public/scripts/Dropdown.js


script.
  $(document).ready(function() {

    // Initialize AddCompany
    AddCompany.init();

    // Initialize Portfolio
    Portfolio.init();

    // Initialize Toolbar
    Scroll.init();

    // Creating Dropdowns
    // Dropdown.create('#owner-dropdown');
    // Dropdown.create('#sort-dropdown');

    // Highlight label of input field on focus
    $('input[type=text], input[type=password], textarea').on('blur', function() {
      $(this).prevAll('.small-label:first').removeClass('small-label-focused');
    }).on('focus', function() {
      $(this).prevAll('.small-label:first').addClass('small-label-focused');
    });

  });