script(type='text/javascript'): include ../../public/scripts/filters.js
script(type='text/javascript'): include ../../public/scripts/add-company.js
script(type='text/javascript'): include ../../public/scripts/portfolio.js


script.

  // When document is ready
  $(document).ready(function() {

    // Initialize addCompany
    addCompany.init();
  });