script(type="text/javascript"): include ../../public/scripts/jquery.min.js
script(type="text/javascript"): include ../../public/scripts/jquery-ui.js
script(type="text/javascript"): include ../../public/bootstrap/js/bootstrap.min.js
script(type='text/javascript'): include ../../public/scripts/jquery.mixitup.js

script.

  // JQuery closure
  (function($){

    // When document has is ready
    $(document).ready(function() {

      // Settings for tooltip
      $(".tooltip_a a").tooltip({
          placement : 'bottom',
          html: true,
          effect: 'slide',
          content: 'loading...',
          open: function (event, ui) {
              $(ui.tooltip).appendTo(this);
          }
      });

      // Initialize mixItUp
      $('#Container').mixItUp();

      // Initialize datepicker
      $('#datepicker').datepicker({
        format: "dd/mm/yyyy"
      });

      // TODO put all of this in users route
      var cards = [  
        { 
          id: '#about',
          header: 'About',
          form: [  
            //- { name: 'username',  type: 'text',  placeholder: 'Company website'  },
            { name: 'description',  type: 'textarea', placeholder: 'description'      },
            { name: 'founders',     type: 'text',     placeholder: 'founders'         },
            { name: 'founded_on',   type: 'text',     placeholder: "founding date",   classes: 'calendar_input',  id: "datepicker" },
            { name: 'Funding',      type: 'text',     placeholder: 'funding (amount)' },
            { name: 'homepage_url', type: 'text',     placeholder: 'company website'  }
          ]
        }, { 
          id: '#milestones',
          header: 'Milestones',
          form: [
            { name: 'milestone',  type: 'textarea', placeholder: 'milestone'      },
          ]
        },  
        { 
          id: '#team',
          header: 'Team',
          form: [  
            { name: 'team',  type: 'textarea', placeholder: 'team' },
          ]
        },  
        { 
          id: '#img',
          header: 'Image',
          form: [  
            { name: 'img_path',          type: 'text',  placeholder: 'image'      },
            { name: 'short_description', type: 'text',  placeholder: 'short description'         },
          ]
        }  
      ];

      var p = !JSON.stringify(p);

      for (var i = 0; i < cards.length; i++) {
        (function(i_copy){

          $(cards[i].id).hover( function() { // on hover in...
            $(this).find('#edit').fadeIn('fast');
            //- form_fields = cards[i_copy].form;

            console.log(JSON.stringify(cards[i_copy].form, null, 3));
            $.ajax({
              type: "GET",
              url: "/edit_modal",
              data: { 
                form_fields: cards[i_copy].form, 
                header: cards[i_copy].header,
                username: p.username,
                p: p
              }
            }).done(function(msg) {
                //- alert( "Data Saved: " + msg );
                $('#testpartial').html(msg);
            });

          }, function() {  // on hover out...
            $(this).find('#edit').fadeOut('fast');   
          }
          );

        }(i));
      }
    });
  })(jQuery);

// [if IE 9]>       
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>