script(type='text/javascript'): include ../../public/scripts/filters.js
script(type='text/javascript'): include ../../public/scripts/AddCompany.js
script(type='text/javascript'): include ../../public/scripts/Portfolio.js
script(type='text/javascript'): include ../../public/scripts/Dropdown.js


script.
  $(document).ready(function() {

    // Initialize AddCompany
    AddCompany.init();

    // Initialize Portfolio
    Portfolio.init();

    // Creating Dropdowns
    // Dropdown.create('#owner-dropdown');
    // Dropdown.create('#sort-dropdown');
  });