script(type="text/javascript"): include ../../public/scripts/jquery.min.js
script(type="text/javascript"): include ../../public/scripts/jquery-ui.js
script(type="text/javascript"): include ../../public/bootstrap/js/bootstrap.min.js
script(type='text/javascript'): include ../../public/scripts/jquery.mixitup.js
script(type='text/javascript'): include ../../public/scripts/jquery.autosize.min.js

script.

  // JQuery closure
  (function($){

    // When document has is ready
    $(document).ready(function() {

      // Settings for tooltip
      $('.tooltip_a a').tooltip({
          placement : 'bottom',
          html: true,
          effect: 'slide',
          content: 'loading...',
          open: function (event, ui) {
              $(ui.tooltip).appendTo(this);
          }
      });

      // Initialize mixItUp
      $('.portfolio-table').mixItUp();

      // Initialize datepicker
      $('#datepicker').datepicker({
        format: 'dd/mm/yyyy'
      });

      // When modal loads
      $('.modal-dialog').ready(function() {
        
        // Correctly determine the size of the textarea in the edit modal
        $('.modal textarea').autosize();
      });
    });
  })(jQuery);