script(type='text/javascript'): include ../../public/scripts/Scroll.js
script(type='text/javascript'): include ../../public/scripts/AddCompany.js
script(type='text/javascript'): include ../../public/scripts/Portfolio.js
script(type='text/javascript'): include ../../public/scripts/Dropdown.js


script.
  $(document).ready(function() {

    // Initialize AddCompany
    AddCompany.init();

    // Initialize Portfolio
    Portfolio.init();

    // Initialize Toolbar
    Scroll.init();

    // Creating Dropdowns
    Dropdown.create('#owner-dropdown');
    Dropdown.create('#order-dropdown');

    // Highlight label of input field on focus
    $('input[type=text], input[type=password], textarea').on('blur', function() {
      $(this).prevAll('.small-label:first')
        .removeClass('small-label-focused');
    }).on('focus', function() {
      $(this).prevAll('.small-label:first')
        .addClass('small-label-focused');
    });

    // Highlight active toolbar link
    // For each toolbar link 
    $('.toolbar a').each(function() {

      // Grab the path data and the window location
      var nav_path = $(this).data('path'),
          window_path = window.location.pathname;

      // Remove '/' characters
      window_path = window_path.replace(/\//g, '');

      // If the nav path matches the window path, highlight the link
      if (nav_path === window_path) {
        $(this).addClass('active');
      }
    });
  });