//- Libraries
script(type="text/javascript", src="../../bower_components/jquery-ui/jquery-ui.min.js")
script(type='text/javascript', src="../../bower_components/jquery-autosize/jquery.autosize.min.js")
script(type='text/javascript', src="../../bower_components/mixitup/build/jquery.mixitup.min.js")
script(type="text/javascript", src="../../bower_components/bootstrap/dist/js/bootstrap.custom.js")
script(type='text/javascript', src="../../bower_components/d3/d3.min.js")
script(type='text/javascript', src="../../bower_components/c3/c3.min.js")
script(type='text/javascript', src="../../bower_components/handsontable/dist/jquery.handsontable.full.js")
script(type='text/javascript', src="../../bower_components/moment/min/moment.min.js")

//- Application JS
script(type='text/javascript', src="../../js/Scroll.js")
script(type='text/javascript', src="../../js/AddCompany.js")
script(type='text/javascript', src="../../js/Company.js")
script(type='text/javascript', src="../../js/Portfolio.js")
script(type='text/javascript', src="../../js/Dropdown.js")
script(type='text/javascript', src="../../js/Tab.js")
script(type='text/javascript', src="../../js/Data.js")

script.
  $(document).ready(function() {
    // Initialize AddCompany
    AddCompany.init();

    // Initialize Portfolio
    Portfolio.init();

    // Initialize Toolbar
    Scroll.init();

    // Initialize Company
    Company.init();

    // Initialize Data section
    Data.init();

    // Initialize sticky tabs plugin
    $('.nav-tabs').stickyTabs();

    // Highlight label of input field on focus
    $('input[type=text], input[type=password], textarea').on('blur', function() {
      $(this).prevAll('.small-label:first')
        .removeClass('small-label-focused');
    }).on('focus', function() {
      $(this).prevAll('.small-label:first')
        .addClass('small-label-focused');
    });

    // Highlight active toolbar link
    // For each toolbar link 
    $('.toolbar a').each(function() {

      // Grab the path data and the window location
      var nav_path = $(this).data('path'),
          window_path = window.location.pathname;

      // Remove '/' characters
      window_path = window_path.replace(/\//g, '');

      // If the nav path matches the window path, highlight the link
      if (nav_path === window_path) {
        $(this).addClass('active');
      }
    });

    // Highlight label of input field on focus
    $('input[type=text], input[type=password], textarea').on('blur', function() {
      $(this).prevAll('.small-label:first').removeClass('small-label-focused');
    }).on('focus', function() {
      $(this).prevAll('.small-label:first').addClass('small-label-focused');
    });
  });

