//- Left toolbar navigation
.pull-left
  a(href='../dashboard/')
    i.fa.fa-dashboard.fa-right
    | Dashboard
  if is_admin
    a(href='../portfolio/')
      i.fa.fa-th.fa-right
      | Portfolio

//- Right toolbar navigation
.pull-right
  span(data-toggle="modal" data-target="#edit-settings"): a 
    i.fa.fa-gear.fa-right
    | #{username}
    //- the #edit-settings modal is in footer.jade so that it is in front
    //- TODO  this is messy, but z-index wasn't working to bring it fwd
  a(href='../../login')
    i.fa.fa-bell.fa-right
  a(href='../../logout')
    i.fa.fa-sign-out.fa-right
    | Sign out