.toolbar:.toolbar-nav

  //- Left toolbar navigation
  .pull-left
    a(href='../dashboard/')
      i.fa.fa-dashboard.fa-right
      | Dashboard
    if is_admin
      a(href='../portfolio/')
        //- Portfolio
        i.fa.fa-th.fa-right
        | Portfolio

  //- Right toolbar navigation
  .pull-right
      span #{username}
      a(href='../../login')
        i.fa.fa-bell.fa-right
        | Notifications
      a(href='../../login')
        i.fa.fa-sign-out.fa-right
        | Sign out