//- Left toolbar navigation
.pull-left
  //- a(href='../dashboard/' data-path='dashboard')
    i.fa.fa-dashboard.fa-right
    | Dashboard

  if is_admin
    a(href='../portfolio/' data-path='portfolio')
      i.fa.fa-th.fa-right
      | Portfolio
  a(href="../support" data-path='support') 
    i.fa.fa-life-ring.fa-right
    | Support
    
//- Right toolbar navigation
.pull-right
  a(href='../../settings' data-path='settings') 
    i.fa.fa-gear.fa-right
    | #{username}
  a(href='../../login')
    i.fa.fa-bell.fa-right
  a(href='../../logout')
    i.fa.fa-sign-out.fa-right
    | Sign out