.modal.fade.modal-fullscreen.force-fullscreen#edit_about(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        //- button(type="button" data-dismiss="modal" aria-hidden="true").close
        h4.modal-title Title
      .modal-body
        p Body!
      .modal-footer
        input(type='button'  value='Cancel'  data-dismiss="modal")
        input(type='submit'  value='Save')