.modal.fade.modal-fullscreen.force-fullscreen#edit_about(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-dialog
    form(method="post"  action="/users/add_user"  enctype='multipart/format-data').modal-content
      .col-lg-12
        h1.white.text-center { #{header}}
      container.loginbox
        //- h3.small Company name
        .col-lg-12: input(type="text"      name="username"   placeholder="company name"     autocomplete="off")
        .col-lg-12: input(type="password"  name="password"   placeholder="password"         autocomplete="off")
        .col-lg-12: input(type="password"  name="password2"  placeholder="confirm password" autocomplete="off")
        .col-lg-12.input-group
          div: h3.text-center Owner(s)
          div.center
            .checkbox
              input(type='checkbox'  name='owners'  value='Joe')
              | Joe
            .checkbox
              input(type='checkbox'  name='owners'  value='Chris')
              | Chris
            .checkbox
              input(type='checkbox'  name='owners'  value='Drew')
              | Drew

      .modal-footer
        input(type='button'  value='Cancel'  data-dismiss="modal")
        input(type='submit'  value='Save')