extends ../layout
block sub_layout
  body.auth-bkg
    div.auth-container
      form(method="POST", action="/login")
        .col-lg-12
          each error in errors
            p.error #{error}
        block content