extends ../layout
block sub_layout
  body.auth-bkg
    .auth-container
      form(method="POST", action="/login")
        div
          each error in errors
            p.auth-error #{error}
        block content
    .auth-footer
      include ../includes/auth_footer.jade