extends ../layout
block sub_layout
  body.company-bkg
    
    - function dataEntered(data) {
    -   return data.length !== 0 &&
    -          moment(data[0].timestamp).quarter() === moment().quarter() &&
    -          moment(data[0].timestamp).year() === moment.year();
    - }
    
    //- Edit modals
    include ../modals/edit_company_overview
    include ../modals/edit_company_operational
    include ../modals/edit_company_user
    include ../modals/edit_company_economics

    .toolbar.toolbar-absolute.toolbar-dark:.max-width
      include ../includes/toolbar.jade
    .company-header
      block header
    .company-navbar
      block navbar
    .company-content
      block content
    .footer
      include ../includes/footer.jade