extends ../layout
block sub_layout
  body.company-bkg
    
    //- Edit modals
    include ../modals/edit_company_header
    include ../modals/edit_company_about
    include ../modals/edit_company_info
    include ../modals/edit_company_user

    .toolbar.toolbar-absolute.toolbar-dark:.max-width
      include ../includes/toolbar.jade
    .company-header
      block header
    .company-navbar
      block navbar
    .company-content
      block content
    .footer
      include ../includes/footer.jade