extends ../layout
block sub_layout
  body.dashboard-bkg
    .toolbar.toolbar-absolute:.max-width
      include ../includes/toolbar.jade
    .toolbar-bkg-extension
    .dashboard-container
      block content
    include ../includes/footer.jade