extends ../layout
block sub_layout
  body.dashboard-bkg
    include ../includes/toolbar.jade
    .toolbar-bkg-extension
    .dashboard-container
      block content
    include ../includes/footer.jade