extends ../layout
block sub_layout
  body.data-bkg

   .toolbar.toolbar-absolute.toolbar-dark.toolbar-padding
      include ../includes/toolbar.jade

   .data-content
      block content

   .footer
      include ../includes/footer.jade

block application_scripts
  script(type='text/javascript', src="../../js/Data.js")

  script.
    $(document).ready(function() {

      // Initialize Data section
      Data.init();

    });

