extends ../layout
block sub_layout
  body.portfolio-bkg

   .toolbar.toolbar-absolute.toolbar-dark:.max-width
      include ../includes/toolbar.jade

   .data-content
      block content

   .footer
      include ../includes/footer.jade