extends ../layout
block sub_layout
  body.portfolio-bkg

   //- Add company modal
   include ../modals/add_company.jade

   .toolbar.toolbar-absolute.toolbar-dark:.max-width
      include ../includes/toolbar.jade

   .portfolio-toolbar:.max-width
      block toolbar

   .portfolio-content:.max-width
      block content

   .footer
      include ../includes/footer.jade