extends ../layout
block sub_layout
  body.portfolio-bkg
    .toolbar.toolbar-fixed
      include ../includes/toolbar.jade
    .portfolio-controls
      include ../includes/portfolio_controls.jade
    .portfolio-container
      block content
    include ../includes/footer.jade