extends ../layout

block sub_layout

  include ../includes/toolbar.jade

  .container

    .row
      .col-xs-10: h1.notitle #{title}
      .col-xs-2: block topRight

    if errors != '' && errors != undefined
      .col-lg-12
        p.error #{errors}

    block content