extends ../layout
block sub_layout
  body.portfolio-bkg

   //- Settings modal
   include ../modals/edit_settings.jade

   //- Add company modal
   include ../modals/add_company.jade

   .toolbar.toolbar-absolute.toolbar-dark:.max-width
      include ../includes/toolbar.jade

   .portfolio-toolbar:.max-width
      block toolbar

   .portfolio-content:.max-width

      //- TODO-- FIX ME
      //- div(style='color:white') #{errors}

      block content

   .footer.footer-light
      include ../includes/footer.jade