include ../mixins/edit_modal_mixin

+edit_modal("edit-about", "Edit About")
  div.small-label Company description
  textarea(placeholder="Add company description"  name="description"  autocomplete="off") #{p.description}
  