include ../mixins/edit_modal_mixin

+edit_modal("edit-header", "Edit Header")
  div.small-label Image path
  input(type="text"  placeholder="Add image path"  name="image"  autocomplete="off" value=p.img_path)

  div.small-label Company description
  textarea(placeholder="Add company description"  name="short_descrip"  autocomplete="off") #{p.short_descrip}