include ../mixins/edit_modal_mixin

+edit_modal("edit-header", "Edit Company Header")
  input(type="text"  placeholder="Add image path"  name="image"  autocomplete="off" value="")
  input(type="text"  placeholder="Add company name"  name="name"  autocomplete="off" value="")
  input(type="text"  placeholder="Add company description"  name="short_description"  autocomplete="off" value="")