extends layout

block mainContent
  div.loginbox
      div.login-topbtm: h1 #{title}
      p The page you requested can't be found. Sorry!
      p You can find all companies <a href='./users'> here.
      div.login-topbtm