extends layouts/company_layout

block content
  .loginbox
    .col-lg-12
      h1.white.text-center Add company
    form(method="post"  action="/portfolio/add_user"  enctype='multipart/format-data')
      container
        //- username + password
        .col-lg-12: input(type="text"  name="username"  placeholder="company name"  autocomplete="off")
        .col-lg-12: input(type="password", name="password", placeholder="password"  autocomplete="off")
        .col-lg-12: input(type="password", name="password2", placeholder="confirm password"  autocomplete="off")
        .col-lg-12.input-group
          div: h3.text-center Owner(s)
          div.center
            .checkbox
              input(type='checkbox'  name='owners'  value='Joe')
              | Joe
            .checkbox
              input(type='checkbox'  name='owners'  value='Chris')
              | Chris
            .checkbox
              input(type='checkbox'  name='owners'  value='Drew')
              | Drew
        //- .col-lg-12: input(type="text" name='init_investmt_date' class='calendar_input' placeholder="Date of initial investment"  id="datepicker")
        - var tooltip_txt = "<h3>To find the permalink</h3><br><br>Visit <a href='http://www.crunchbase.com/'>CrunchBase</a> &amp; go to the company's profile. You will find the permalink at the end of the url: <a><i>crunchbase.com/organization/{PERMALINK}</i></a>. Most but not all companies will have a CrunchBase profile &amp; associated  permalink."
        .col-lg-12.tooltip_a
          a(data-toggle="tooltip" data-original-title=tooltip_txt).tooltip-zone
            input(type='text' name='crunchbase_permalink', placeholder='CrunchBase permalink'  autocomplete="off")
      input(type="submit", value="Submit" style='margin-top:40px').submit