extends layout

block mainContent
  div.loginbox
    div.login-topbtm(style='height:30px')
      //- h1 #{title}
    form(method="POST"  action="/users/add_user"  enctype="multipart/form-data")
      container
        //- space
        .div(style='height:30px')

        //- tr.error #{error}

        //- username + password
        .row: .col-lg-12: input(type="text"     name="username"           placeholder="company name")
        .row: .col-lg-12: input(type="password" name="password"           placeholder="password")
        .row: .col-lg-12: input(type="password" name="password2"          placeholder="confirm password")
        .row: .col-lg-12: input(type="text"     name='init_investmt_date' placeholder="Date of initial investment"  class='calendar_input'   id="datepicker")
        .row: .col-lg-12: input(type="file"     name="logo")

        //- space
        .div(style='height:30px')

      //- submit
      div.login-topbtm
        .container: .row
          .col-xs-9
              //- td(style='width:200px')
              p Have an account?
                br
                a(href="../login") Login here.
            .col-xs-3
              input(type="submit", value="Submit").submit


  script.
    $(document).ready(function () {
      $('#datepicker').datepicker({
        format: "dd/mm/yyyy"
      });  
    });

