extends layout

block mainContent
  div.loginbox
    div.login-topbtm(style='height:40px')
      //- h1 #{title}
    form(method="post"  action="/users/add_user"  enctype='multipart/format-data')
      container
        //- space
        div(style='height:30px')

        //- username + password
        .row: .col-lg-12: input(type="text", name="username", placeholder="company name")
        .row: .col-lg-12: input(type="password", name="password", placeholder="password")
        .row: .col-lg-12: input(type="password", name="password2", placeholder="confirm password")
        .row: .col-lg-12: input(type="text" name='init_investmt_date' class='calendar_input' placeholder="Date of initial investment"  id="datepicker")
        //- .row: .col-lg-12: input(type="file"    name="file"    id="file")
        .row: .col-lg-12: input(type="file"    name="file"    id="file")

        //- space
        div(style='height:30px') 

      //- submit
      div.login-topbtm
        .container: .row
          .col-xs-9
              //- td(style='width:200px')
              p Have an account?
                br
                a(href="../login") Login here.
            .col-xs-3
              input(type="submit", value="Submit").submit

  script.
    $(document).ready(function () {
      $('#datepicker').datepicker({
        format: "dd/mm/yyyy"
      });  
    });

