extends layout
<link href='style2.css' rel='stylesheet'>

block topRight
  .row.subheader
    .col-xs-12
      h3.sub(style="margin-top:10px"): a(href='../users/add_user') Add
  //- br
  //- h3.sub: a(href='#') Add

  //- .tooltip_a(style="padding-top:25px")
    a(href='../users/add_user' data-toggle="tooltip" data-original-title="New company")
      span.glyphicon.glyphicon-plus-sign
  //- <div style="width:45px" class="tooltip_a sort-header">
    //- <a href="../users/add_user" data-toggle="tooltip" data-original-title="New company" aria-describedby="tooltip952999">
      //- <span class="glyphicon glyphicon-plus-sign"></span>
    //- </a>
  //- </div>  


block mainContent

  
  table#sort.table-striped
    thead: tr
      td
      th Initial Investment
      th Company Name
      th Password
      //- td(style="width:45px").tooltip_a
        a(href='../users/add_user' data-toggle="tooltip" data-original-title="New company")
          span.glyphicon.glyphicon-plus-sgn
    tbody
      if (companies.length > 1)
        each c in companies
          if (c.username != 'admin')
            tr(onclick="window.location = '../users/" + c.username + "'").user
              td(style='text-align:center')
                if c.img_path != null
                  img(src="../uploaded/files/" + c.img_path   style="width:200px")
                else
                  a(href='../new_photo/' + c.id) Upload logo
              td: a #{c.init_investmt_date}
              td: a #{c.username}
              td: a #{c.password}
              //- td

  if (companies.length <= 1)
    tr: p.error There are no companies in the network!



  //- tablesort javascript
  script(type='text/javascript' src='/../javascripts/tablesort.uncompressed.js')
  script.
    new Tablesort(document.getElementById('sort'));