extends layout
<link href='style2.css' rel='stylesheet'>

block mainContent


  //- .pull-right: a(href='../users/add_user')
  //-   | New company 
  //-   span.glyphicon.glyphicon-plus-sign
  br
  
  if (companies.length > 1)
    table#sort.table-striped
      thead: tr
        th #
        th Company Name
        th Password
        td(style='width:auto')
          a(href='../users/add_user' data-toggle="tooltip" data-original-title="Log in")
            span.glyphicon.glyphicon-plus-sign.text-center
      tbody
        each c, i in companies
          if (c.username != 'admin')
            tr(onclick="window.location = '../users/" + c.username + "'", style="cursor: pointer")
              td: a #{i}
              td: a #{c.username}
              td: a #{c.password}
              td
  else
    p.error There are no companies in the network!



  //- tablesort javascript
  script(type='text/javascript' src='/../javascripts/tablesort.uncompressed.js')
  script.
    new Tablesort(document.getElementById('sort'));