extends layout
<link href='style2.css' rel='stylesheet'>

block topRight
  .tooltip_a
    a(href='../users/add_user' data-toggle="tooltip" data-original-title="New company" style='margin: 15px')
      span.glyphicon.glyphicon-plus-sign

block mainContent

  br
  
  table#sort.table-striped
    thead: tr
      th Initial Investment
      th Company Name
      th Password
      //- td(style="width:45px").tooltip_a
        a(href='../users/add_user' data-toggle="tooltip" data-original-title="New company")
          span.glyphicon.glyphicon-plus-sign
    tbody
      if (companies.length > 1)
        each c in companies
          if (c.username != 'admin')
            tr(onclick="window.location = '../users/" + c.username + "'", style="cursor: pointer")
              td: a #{c.init_investmt_date}
              td: a #{c.username}
              td: a #{c.password}
              //- td

  if (companies.length <= 1)
    tr: p.error There are no companies in the network!



  //- tablesort javascript
  script(type='text/javascript' src='/../javascripts/tablesort.uncompressed.js')
  script.
    new Tablesort(document.getElementById('sort'));