extends layouts/company_layout

block header
  include sections/company/header.jade
block navbar
  include sections/company/navbar.jade
block content
  .max-width.tab-content.container#company
    include sections/company/overview.jade
    include sections/company/operational.jade
    include sections/company/user.jade
    include sections/company/economics.jade






