extends layouts/company_layout

block header
  include sections/company/header.jade
block navbar
  include sections/company/navbar.jade
block content
  .max-width.tab-content
    include sections/company/overview.jade
    include sections/company/financials.jade
    include sections/company/documents.jade





