extends layouts/company_layout

block content
  //- Include all edit_modal script
  include ./includes/edit_modal.jade

  .company-header
    .company-header-info

      //- Edit
      span(data-toggle="modal" data-target="#edit_company") edit
      
      //- Company logo
      if (p && p.img_path)
        img(src=p.img_path).company-logo
      else
        div Add logo

      //- Company name
      if (p && p.name)
        .company-name
      else
        div Add name

      //- Company description
      if (p && p.short_descrip)
        .company-description #{p.short_descrip}
      else
        div Add description


