extends layouts/company_layout

block content

  //- Include all edit_modal script
  include includes/edit_modal.jade

  //- Necessary for edit modal
  .edit-forms

  .company-header#img

    //- Edit
    .company-header-edit#edit(data-toggle="modal" data-target="#edit_company") 
      i.fa.fa-pencil.fa-right
      | edit

    .company-header-info

      //- Company logo
      if (p && p.img_path)
        img.company-logo(src=p.img_path)
      else
        .company-logo Add logo

      //- Company name
      if (p && p.name)
        .company-name
      else
        .company-name Add name

      //- Company description
      if (p && p.short_descrip)
        .company-description #{p.short_descrip}
      else
        .company-description Add description
        
  .company-content
    .content-block
