extends layouts/landing_page_layout
include ./mixins/edit_modal_mixin


block content

  +edit_modal("/portfolio/add", "add-company-form", "Add Company")

    //- Company name
    .small-label Add company name
    .error#username-error: div You must include a name for the company.

    //- This is a fake input field to stop Chrome from autocompleting
    input(type="text" name="username" value="admin" id="username_fake" class="hidden" autocomplete="off" style="display: none;" disabled)
    //- This is the real input field
    input(type="text" name="username"  value="admin"  id="username"  autocomplete="off" readonly)

    //- Password
    .small-label Enter your password
    .error#password-error: div You must include a password for the company.
    input(type="password" name="password"  id="password"  autocomplete="off" autofocus)

    //- Confirm password
    .small-label Confirm your password
    .error#password2-error: div Your passwords don't match.
    input(type="password" name="password2"  id="password2"  autocomplete="off")
      
  script.
    $(".modal").show();