extends layouts/dashboard_layout
block content
  a.dashboard-btn
    .btn-icon: i.fa.fa-envelope
    .btn-title
      | Request
    .btn-text
      | Message a portfolio company
  a.dashboard-btn
    .btn-icon: i.fa.fa-comments
    .btn-title
      | Respond
    .btn-text
      | Manage company requests
  a(href="/portfolio").dashboard-btn
    .btn-icon: i.fa.fa-th
    .btn-title
      | Potfolio
    .btn-text
      | View portfolio companies