extends layouts/dashboard_layout

block content

  .dash-btn: a
      h6 Connect
      | Make a request Formation 8

  .dash-btn: a 
      h6 Respond
      | Manage messages from Formation 8

  .dash-btn: a(href='/users')
    h6 Profile
    | View / edit profile