extends layout

block h
  style(type="text/css"): include ../public/stylesheets/sass/base/dashboard.css

block mainContent
  br
  br
  br
  br
  .dash-btn: a
      h6 Connect
      | Make a request Formation 8

  .dash-btn: a 
      h6 Respond
      | Manage messages from Formation 8

  .dash-btn: a(href='/users')
    h6 Profile
    | View / edit profile