extends layouts/data_layout

block content

  script(type="text/javascript").

    // I don't think that this is safe...
    var companies = !{JSON.stringify(all_companies)};

  #data
  
  .data-bottom-bar
    if all_companies.length > 1

      if all_companies != 'undefined'
        ul.page-tabs(role="tablist")
          each c in all_companies
            if c.username != 'admin'
              li.page-tab #{c.username}

      //- This will be un-commented when save spreadsheet is implemented  
      button.save-btn 
        i.fa.fa-database.fa-right
        | Save

      button.download-btn
        i.fa.fa-download.fa-right
        | Download

    else
      .bottom-bar-text(style='text-align:center') No companies
