extends layouts/data_layout

block content

  script(type="text/javascript").

    // I don't think that this is safe...
    var companies = !{JSON.stringify(all_companies)};

  #data
  .data-bottom-bar

    if all_companies != 'undefined'
      ul.page-tabs(role="tablist")
        each c in all_companies
          if c.username != 'admin'
            li.page-tab #{c.username}
    else
      .bottom-bar-text No companies

    button.save-btn 
      i.fa.fa-database.fa-right
      | Save

    button.download-btn
      i.fa.fa-download.fa-right
      | Download