doctype html
html
  head
    //- <link rel="shortcut icon" href="/images/citroen-icon2.jpg"/>
    title= title
    link(rel='shortcut icon', href='http://formation8.com/wp-content/uploads/favicon.ico')
    style(type="text/css"): include ../public/stylesheets/tablesort.css
    style(type="text/css"): include ../public/stylesheets/style.css
  #wrapper
    #header
      h1 #{title}

    //- renders the page
    #content
      block mainContent