doctype html
<meta charset=”utf-8”> 
html
  head
    title #{title}
    link(rel='shortcut icon', href='http://formation8.com/wp-content/uploads/favicon.ico')

    //- STYLESHEETS -//////////////////////////////////////////////////////////
    //- bootstrap
    style(type="text/css"): include ../public/bootstrap/css/bootstrap-theme.css
    style(type="text/css"): include ../public/bootstrap/css/bootstrap.css

    //- datepicker (w/ jquery-ui)
    style(type="text/css"): include ../public/stylesheets/jquery-ui.css
    style(type="text/css"): include ../public/stylesheets/datepicker.css
    
    //- tablesort CSS
    style(type="text/css"): include ../public/stylesheets/tablesort.css

    //- general css
    style(type="text/css"): include ../public/stylesheets/style.css


    //- JAVASCRIPTS -//////////////////////////////////////////////////////////
    script(type="text/javascript"): include ../public/javascripts/jquery.min.js
    script(type="text/javascript"): include ../public/javascripts/jquery-ui.js
    script(type="text/javascript"): include ../public/bootstrap/js/bootstrap.min.js

    script.
      $(document).ready(function(){
          $(".tooltip_a a").tooltip({
              placement : 'bottom'
          });
      });

    // [if IE 9]>       
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

  .toolbar: .row
    .col-xs-1.pull-right
    .col-xs-1.pull-right.tooltip_a
      a(href='../login' data-toggle="tooltip" data-original-title="Log in").pull-right
        span.glyphicon.glyphicon-log-in
    .col-xs-2.pull-right: h5.text-right
      | Hello 
      a #{username}
      | !

  .container
    .row
      if (is_admin == true)
        .col-lg-12: ul.nav.nav-tabs(role="tablist")
          li(class=(tab=='dashboard') ? 'active' : ''): a(href='')   Dashboard
          li(class=(tab=='companies') ? 'active' : ''): a(href='/users/')   Companies
          li(class=(tab=='events') ? 'active' : ''):    a(href='').test   Events
        //- br

      .col-lg-12: h1 #{title}
      if errors != '' && errors != undefined
        .col-lg-12
          p.error #{errors}
      .col-lg-12
          block mainContent