doctype html
html
  head
    //- <link rel="shortcut icon" href="/images/citroen-icon2.jpg"/>
    title= title
    link(rel='shortcut icon', href='http://formation8.com/wp-content/uploads/favicon.ico')
    //- script(src='https://raw.githubusercontent.com/tristen/tablesort/gh-pages/tablesort.min.js')
    style(type="text/css"): include ../public/stylesheets/style2.css
    style(type="text/css"): include ../public/stylesheets/style.css
  #wrapper
    #header
      h1 #{title}

      //- img(src= "/images/55citroen_ds19_09.jpg", style="height:318px")

    //- renders the page
    #content
      block mainContent