doctype html
meta(http-equiv="content-type", content="text/html; charset=UTF-8")
html

  //- Include all head information
  include includes/head.jade

  //- Allow extention of sub layouts
  block sub_layout

  //- Include all JS Scripts
  //- (other than JS libs like JQuery that need to be
  //- pre-loaded)
  include includes/scripts.jade