doctype html
<meta charset=”utf-8”> 
html

  //- Include all head information
  include includes/head.jade

  //- Allow extention of sub layouts
  block sub_layout

  //- Include all JS Scripts
  include includes/scripts.jade