doctype html
html
  head
    title= title
    link(rel='shortcut icon', href='http://formation8.com/wp-content/uploads/favicon.ico')
      
  div#wrapper
    div#header
      //- h1 #{title}

      //- img(src= "/images/55citroen_ds19_09.jpg", style="height:318px")

    //- renders the page
    div#content
      block mainContent