extends login_layout
link(rel='stylesheet', href='/stylesheets/style.css')
//- link(rel='shortcut icon', href='http://formation8.com/wp-content/uploads/favicon.ico')
<script src="/reload/reload.js"></script>

block mainContent
  //- h1 #{title}
  div.loginbox
    div.login-topbtm: h1 #{title}
    form(method="POST", action="/login")
      table.loginbox
          //- space
          tr(style='height:30px')

          tr: td
            each error in errors
              p.error #{error}

          //- username + password
          tr
            td
              input(type="text", name="username", placeholder="company name")
          tr
            td
              input(type="password", name="password", placeholder="password")

          //- space
          tr(style='height:30px')

      //- submit
      div.login-topbtm
        table
          tr
            td(style='width:200px')
              p.white Contact 
                a(href="mailto:drew@formation8.com") Drew Oettig 
                x for your company's login details.
              //- Don't have an account?
                a(href="./register") Register here.
            td
              input(type="submit", value="Submit").submit