extends layouts/auth_layout
block content
  .col-lg-12: input(type="text", name="username", placeholder="USERNAME", autocomplete="off")
  .col-lg-12: input(type="password", name="password", placeholder="PASSWORD", autocomplete="off")
  .col-lg-12
    p.auth-info Contact 
      a(href="mailto:drew@formation8.com") Drew Oetting 
      | for your company's login details.
  .col-lg-12: input(type="submit"  value="LOGIN").submit