extends ./layout

block sub_layout

  body.portfolio-bkg

    .toolbar.toolbar-absolute.toolbar-dark:.max-width
      include ./includes/toolbar.jade

    .portfolio-content:.max-width

      - var to_edit = {}
      - var owner_to_edit = function(o) {
      -   to_edit = o;
      -   console.log(to_edit);
      - }

      .small-label OWNERS
        for o in all_owners
          p #{o.name} 
            a(onclick='to_edit = "asdfklj"; console.log(to_edit)')
              i.fa.fa-edit#edit-owner-btn(data-toggle="modal" data-target="#edit-owner-form")

      include ./modals/edit_owner.jade
      include ./modals/add_owner.jade

      a(data-toggle="modal" data-target="#add-owner-form")
        i.fa.fa-plus#add-owner-btn  Add owner