extends ./layout

block sub_layout

  body.portfolio-bkg

    .toolbar.toolbar-absolute.toolbar-dark:.max-width
      include ./includes/toolbar.jade

    .portfolio-content:.max-width

      include ./modals/edit_owner.jade
      include ./modals/add_owner.jade

      .small-label OWNERS
        for o in all_owners
          p #{o.name} 
            a: i.fa.fa-edit#edit-owner-btn(data-toggle="modal" data-target="#edit-owner-form")
      a(style='border:1px solid red' data-toggle="modal" data-target="#add-owner-form")
        i.fa.fa-plus#add-owner-btn  Add owner

      script.
        // Highlight label of input field on focus
        $('input[type=text], input[type=password], textarea').on('blur', function() {
          $(this).prevAll('.small-label:first').removeClass('small-label-focused');
        }).on('focus', function() {
          $(this).prevAll('.small-label:first').addClass('small-label-focused');
        });