include mixins/edit_modal_mixin

+edit_modal("/portfolio/settings", "edit-settings", "Settings")
  .small-label Owners
  .checkbox-group
    input(type="checkbox" name="owners" id="Chris" value="Chris") 
    label(for="Chris") Chris
  .checkbox-group
    input(type="checkbox" name="owners" id="Drew" value="Drew") 
    label(for="Drew") Drew
  .checkbox-group
    input(type="checkbox" name="owners" id="Joe" value="Joe") 
    label(for="Joe") Joe





