extends layouts/settings_layout

block header
  h1.header-title Settings

block sidebar
  include sections/settings/sidebar.jade

block content
  .tab-content
    include sections/settings/owners.jade
    include sections/settings/portfolio.jade
    include sections/settings/log.jade

