<link href='style.css' rel='stylesheet'>

<div class='page'>
  <div class='inner'>
      <table id='sort' class='sort'>
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Birthday</th>
            <th>Grocery item</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Gonzo the Great</td>
            <td>12-2-70</td>
            <td>Radishes</td>
            <td>$0.63</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Ernie</td>
            <td>10/11/69</td>
            <td>Fish</td>
            <td>$12.09</td>
          </tr>
        </tbody>
      </table>

    </div>

<script src='../tablesort.min.js'></script>
<script> new Tablesort(document.getElementById('sort')); </script>
</body>
</html>
