<link href='../public/stylesheets/mixitup.css' rel='stylesheet'>
<div class="controls">
  <label>Filter:</label>
  
  <button class="filter" data-filter="all">All</button>
  <button class="filter" data-filter=".category-1">Category 1</button>
  <button class="filter" data-filter=".category-2">Category 2</button>
  
  <label>Sort:</label>
  
  <button class="sort" data-sort="random">Random</button>
  <button class="sort" data-sort="name:asc">Name</button>
  <button class="sort" data-sort="myorder:asc">Asc</button>
  <button class="sort" data-sort="myorder:desc">Desc</button>
</div>
<div id="Container" class="container">
  <div class="mix category-1" data-myorder="1" data-name='Apple'>Apple</div>
  <div class="mix category-1" data-myorder="2" data-name='Banana'>Banana</div>
  <div class="mix category-1" data-myorder="3" data-name='Canteloupe'>Canteloupe</div>
  <div class="mix category-2" data-myorder="4" data-name='Dried Apricot'>Dried Apricot</div>
  <div class="mix category-1" data-myorder="5" data-name='Evil'>Evil</div>
  <div class="mix category-1" data-myorder="6" data-name='Fruit'>Fruit</div>
  <div class="mix category-2" data-myorder="7" data-name='Grapes'>Grapes</div>
  <div class="mix category-2" data-myorder="8" data-name='Hot Potato'>Hot Potato</div>
  
  <div class="gap"></div>
  <div class="gap"></div>
</div>


<script src="jquery-1.11.0.js"></script>
<script src="jquery.mixitup.js"></script>
<script type='text/javascript'>
  $(function(){
    $('#Container').mixItUp();
  });
</script>
