.tab-pane.active#owners
  h2 Owners

  for o in all_owners
    .owner
      .owner-info
        .name #{o.name} 
        .email #{o.email}
      a.owner-edit(data-toggle="modal" data-target="#edit-owner-form" id='edit-'+o.id)
        i.fa.fa-pencil

  a.add-owner(data-toggle="modal" data-target="#add-owner-form")
    i.fa.fa-plus.fa-right#add-owner-btn
    | Add owner

  script.
    // grabs all_owners from routes & puts it into owners var
    var owners = !{JSON.stringify(all_owners)};

    /* iterate through owners' edit btns so that onclick, the form is
     * populated with that owner's info */
    for (var i = 0; i < owners.length; i++) {
      (function(n) {
        var o = owners[i];
        $('#edit-'+o._id).click(function() {

          $('#name').val(o.name);
          $('#email').val(o.email);
          $("input.edit:checkbox").each(function(){
            if (o.companies.indexOf($(this).val()) != -1){
              $(this).prop('checked', true);
            }
          });
          console.log(o._id);
          $('#id').val(o._id);
        });
      }(i))
    }