ul.nav-tabs
  li.navbar-tab.vertical-tab.active: a(href="#owners" role="tab" data-toggle="tab") Owners
  // li.navbar-tab.vertical-tab: a(href="#portfolio" role="tab" data-toggle="tab") Portfolio
  // li.navbar-tab.vertical-tab: a(href="#log" role="tab" data-toggle="tab") Log
