// Color palette
$very-light-purple: #ffe6ff;
$light-purple: #9b74e3;
$purple: #8a64d1;
$dark-purple: #45367c;
$red: #e06663;
$green: #1ebba6;

// Overall Website
$website-max-width: 90%;

// Auth section
$auth-bkg: #222;
$auth-container-height: 250px;
$auth-container-width: 250px;

// Toolbar section
$toolbar-bkg: #eee;
$toolbar-height: 56px;
$toolbar-tall-height: 100px;
$toolbar-extension-height: 280px;

// Dark toolbar
$toolbar-dark-bkg: #222;

// Dashboard section
$dashboard-bkg: #222;

// Portfolio section
$portfolio-bkg: #ddd;
$portfolio-toolbar-bkg: #eee;
$portfolio-toolbar-height: 44px;

// Company section
$company-bkg: #ddd;
$company-header-bkg: #222;
$company-header-height: 300px;

// Settings section
$settings-bkg: #ddd;
$settings-header-bkg: #222;
$settings-header-height: 100px;
$settings-sidebar-bkg: transparent;
$settings-sidebar-width: 120px;
$settings-content-bkg: #fff;
$settings-content-width: calc(100% - $settings-sidebar-width);

// Footer section
$footer-bkg: #222;
$footer-height: 73px; // Weird number is 20px padding + logo height of 33px
