.dropdown {
  display: inline-block;

  .dropdown-toggle {
    background: none;
    border: none;
    padding: 0;

    &:after {
      content: "\f0d7";
      font-family: FontAwesome;
      margin-left: 10px;
      vertical-align: middle;
    }
  }

  .dropdown-menu {
    background: #fff;
    border: none;
    @include border-radius(2px);
    min-width: 120px;
    padding: 0;

    .dropdown-header {
      border-bottom: 1px solid #eee;
      color: #999;
      padding: 0 10px;
    }

    li {
      color: #999;
      cursor: pointer;
      padding: 0 10px;

      &:hover {
        color: #333;
      }
    }

    .active {
      color: $purple;

      &:hover {
        color: $purple;
      }

      &:after {
        content: "\f111";
        float: right;
        font-family: FontAwesome;
        font-size: 13px;
        vertical-align: middle;
      }
    }
  }
}