.nav-tabs {
  border: none;
  height: 100%;

  .navbar-tab {

    a {
      background: none;
      color: #999;
      font-size: 13px;
      font-weight: 500;
      padding: 0 15px;
      text-transform: uppercase;

      &:hover {
        background-color: transparent !important;
        color: #666;
      }
    }
  }

  .horizontal-tab {
    display: inline-block;

    a {
      border-bottom: 3px solid transparent;
      display: inline-block;
      line-height: 47px;
      margin: 0 5px 0 0;
    }

  }

  .vertical-tab {
    display: block;
    text-align: right;

    a {
      border-right: 3px solid transparent;
      display: block;
      margin: 15px 0;
      padding: 5px 20px;
    }
  }

  .active {

    a {
      background-color: transparent !important;
      border-color: $purple !important;
      color: $purple !important;

      &:hover {
        border-color: $purple;
      }
    }
  }
}