.data-bkg {
  background-color: $data-bkg;

  .data-content {
    padding-top: $toolbar-height;

    #data {
      color: #666;
      font-size: 14px;
      font-weight: 400;
      overflow: scroll;
      width: 100%;

      .currentRow,
      .currentCol {
        background-color: #f7f7f7;
      }
    }
  }
}