.settings-bkg {
  background-color: $settings-bkg;

  .settings-container {


    .settings-header {
      background-color: $settings-header-bkg;
      height: $settings-header-height;
      margin-top: $toolbar-height;

      .header-title {
        padding-top: 35px;
      }
    }

    .settings-content-wrapper {

      .settings-sidebar {
        background-color: $settings-sidebar-bkg;
        float: left;
        margin-top: 40px;
        width: $settings-sidebar-width;
      }

      .settings-content {
        background-color: $settings-content-bkg;
        @include box-shadow(0, 0, 2px, rgba(0, 0, 0, 0.1));
        margin-left: $settings-sidebar-width;
        padding: 40px 40px 0 40px;
        width: $settings-content-width;

        .tab-content {
          min-height: 100vh;
          overflow: visible;

          .tab-pane {

            .owner {
              padding: 20px 0 0 0;

              .owner-info {
                display: inline-table;
                min-width: 200px;

                .name {
                  color: #666;
                  font-size: 15px;
                  margin-bottom: 3px;
                }

                .email {
                  color: #999;
                  font-size: 13px;

                  &:hover {
                    color: $purple;
                  }

                }
              }

              .owner-edit {
                color: #999;
                display: inline-table;
                font-size: 16px;
                line-height: 39px;
                margin-top: 5px;
                padding: 0 10px;
                vertical-align: middle;

                &:hover {
                  color: $purple;
                }
              }
            }

            .add-owner {
              color: #999;
              display: block;
              font-size: 15px;
              font-weight: 500;
              margin-top: 20px;
              max-width: 200px;

              &:hover {
                color: $purple;
              }
            }
          }
        }
      }
    }
  }
}