@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,500italic,700italic,900,900italic);
/*@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900);*/
/*@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);*/
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

body {
	margin-top: 40px;
	line-height: 1.2;
	background-color: #f7f7f7;
  font: 18px "Source Sans Pro", Helvetica, Arial, sans-serif;
}

h1 {
	font: 36pt 'Lato', serif;
	font-weight: 400;
	margin: 5px;
	color: #444;
	text-transform: uppercase;
}

h2 {
	padding: 8px;
	font: 18pt 'Lato', serif;
	font-weight: 400;
	margin: 0;
	color: #555;
	margin-bottom: 5px;
}

h3 {
	display: inline;
	font: 12pt 'Lato', serif;
	font-weight: 300;
	text-transform: uppercase;
}

h3 a {
	font-weight: 400;
	margin: 0px 20px 3px 0px;
	display: inline-block;
	padding: 3px 11px 3px 11px;
	/*border: 1px solid #f7f7f7;*/
	color: #82B7E5;
}

h3 a:hover,
h3 a.selected { 
	/*border: 1px solid white;*/
	border-radius: 6px;
	color: white;
	background-color: #82B7E5;
	/*background-color: #b3d3ef;*/
}

h3.sub a {
	margin: 0px;
	font-size: 10pt;
	/*opacity: .9;*/
	border-radius: 6px;
	border: 1px solid #82B7E5;
	color: #82B7E5;
	background: none;
	/*background-color: #b3d3ef;*/
}

h3.sub a:hover {
	/*background-color: #fdfdfd;*/
	/*color: #529bda;*/
	color: #529bda;
	border: 1px solid #529bda;
	/*opacity: 1;*/
	/*border: 1px solid #82B7E5;*/
}

.sub { 
	padding-right: 10px;
	text-align: right;
	float: right; 
	margin: 0px;
	width: 80px;
}

h4 {
	display: inline;
}

.subheader {
	margin-top: 5px;
	margin-bottom: 5px;
}

.card {
	margin-top: 10px;
	padding: 5px;
	width: 100%;
	display: block;

	background-color: white;
	border-radius: 4px;
	border: 1px solid #e4e4e4;	
}

.blank {
	line-height: 1.7;
	padding: 10px;
}

.toolbar {
	z-index: 10000;
	top: 0px;
	margin-top: -1px;
	position: fixed;
	background-color: #333;
	border-bottom: 1px solid #222;
	padding: 3px;
	width:100%;
}

.toolbar .col-xs-1 {
	padding-top: 2px;
}  

h5 {
	color: #d9d9d9;
 	margin: 0px;
	padding: 4px;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 11pt;
}


.toolbar a { color: #ddd; }
.toolbar a:hover { color: white; }

img {
	padding: 8px;
}

a {
	color: #529bda;
  text-decoration: none;
  font-weight: 200;
}

a:hover {
	cursor: pointer;
	color: #428bca;
}

td a {
	font-weight: 500;
}

p {
	line-height: 1.5;
	text-align: left;
	margin: 0px;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 13pt;
	padding: 8px;
}

.white { color: white; }

br { margin: 0px; }

/*
.middle-tightbox {
	padding: -1px;
	display: inline-block;
	border:1px solid #555;
}*/

.loginbox {
	margin: auto;
	background-color: white;
	text-align: center;
	width: 320px;
}

div.loginbox {
	border-radius: 5px;
	margin-top: 120px;
	border: 1px solid #bbb;
}

.login-topbtm {
	display: block;
	background-color: #333;
	color: white;
	padding: 15px;
	/*height: 100%;*/
	overflow: auto;
}

.login-topbtm h1 { color: white; }

input {
	width: 85%;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #ccc;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 13pt;
}

input[type="submit"] {
	background-color: white;
	float: right;
	padding: 10px;
	border: 1px solid #444;

	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
	color: #444;

	/*font-weight: bold;*/
}

input[type="submit"]:hover{
	/*background-color: #ffc;*/
	/*border: 2px solid white;*/
	color: black;
	cursor: pointer;
	border: 1px solid black;
}
.error {
	margin: 0px 10px 10px 10px;
	border-radius: 5px;
	border: 1px solid #fbb;
	background-color: #fcc;
	/*padding: 10px;*/
}

form {
	margin: 0px;
}
/* ===================== */

th.sort-header {
  cursor:pointer;
  }
th.sort-header::-moz-selection,
th.sort-header::selection {
  background:transparent;
  }
table th.sort-header:after {
  content:'';
  float:right;
  margin-top:7px;
  border-width:0 4px 4px;
  border-style:solid;
  /*border-color:#404040 transparent;*/
  visibility:hidden;
  }
table th.sort-header:hover:after {
  visibility:visible;
  }
table th.sort-up:after,
table th.sort-down:after,
table th.sort-down:hover:after {
  visibility:visible;
  opacity:0.4;
  }
table th.sort-up:after {
  border-bottom:none;
  border-width:4px 4px 0;
  }

.toolbar .container.row {
	padding:0px;
}

.toolbar .container .row .col-xs-4,
.toolbar .container .row .col-xs-1 {
	/*padding: 0px;*/
	/*margin: 0px;*/
}

.loginout {
	margin-left:10px; 
	display:inline;
}

.col-xs-4,
.col-xs-8 {
	margin: 0px;
}