@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,500italic,700italic,900,900italic);
/*@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900);*/
/*@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);*/
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

body {
	margin-top: 40px;
	line-height: 1.2;
	background-color: #f7f7f7;
  font: 18px "Source Sans Pro", Helvetica, Arial, sans-serif;
}

h1 {
	font: 36pt 'Lato', serif;
	font-weight: 400;
	margin: 20px;
	color: #444;
	text-transform: uppercase;
}

h2 {
	/*padding: 8px;*/
	font: 18pt 'Lato', serif;
	font-weight: 400;
	margin: 0;
	color: #555;
	margin-bottom: 5px;
}

h3 {
	display: inline;
	font: 12pt 'Lato', serif;
	font-weight: 300;
	text-transform: uppercase;
}

h3 a {
	font-weight: 400;
	margin: 0px 20px 3px 0px;
	display: inline-block;
	padding: 3px 11px 3px 11px;
	border: 1px solid #f7f7f7;
	color: #46379b;
}

h3 a.selected { 
	/*border: 1px solid white;*/
	border-radius: 6px;
	color: white;
	border: 1px solid #46379b;
	background-color: #46379b;
}

h3 a.selected:hover { 
	border: 1px solid #8a64d1;
	border-radius: 6px;
	color: white;
}

h3.sub a {
	margin: 0px;
	font-size: 10pt;
	border-radius: 6px;
	border: 1px solid #46379b;
	color: #46379b;
	background: none;
}

h3 a:hover,
h3.sub a:hover {
	color: #8a64d1;
	border-radius: 6px;
	border: 1px solid #8a64d1;
}

.sub { 
	padding-right: 10px;
	text-align: right;
	float: right; 
	margin: 0px;
	width: 80px;
}

h4 {
	display: inline;
}

.subheader {
	margin-top: 5px;
	margin-bottom: 5px;
}

.card {
	margin-top: 10px;
	padding: 30px;
	width: 100%;
	display: block;
	position:relative;

	background-color: white;
	border-radius: 4px;
	border: 1px solid #e4e4e4;	
}

#img {
	padding: 20px;
}

.blank {
	line-height: 1.7;
	padding: 10px;
}

.toolbar {
	z-index: 10000;
	top: 0px;
	margin-top: -1px;
	position: fixed;
	background-color: #45367C;
	border-bottom: 1px solid white;
	padding: 5px;
	width:100%;
	vertical-align: middle;
}


h5 {
	display: inline;
	color: #d9d9d9;
 	margin: 0px;
	padding: 4px;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 13pt;
}

.quote { 
	padding-top: 10px;
	font-size: 85%; 
}

.toolbar a { color: #ddd; }
.toolbar a:hover { color: white; }


a {
	/*color: #529bda;*/
  text-decoration: none;
  font-weight: 200;
	color: #8a64d1;
}

p.white a:hover {
	color: #9a74e1;
}

a:hover {
	color: #46379b;
	cursor: pointer;
	/*color: #428bca;*/
}

td a {
	font-weight: 500;
}

p {
	line-height: 1.5;
	text-align: left;
	margin: 0px;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 13pt;
	/*padding: 8px;*/
}

.white { color: white; }

br { margin: 0px; }

/*
.middle-tightbox {
	padding: -1px;
	display: inline-block;
	border:1px solid #555;
}*/

.loginbox {
	font-size: 18pt;
	margin: auto;
	background-color: #fffdfd;
	text-align: center;
	width: 380px;

	border-radius: 5px;
	margin-top: 120px;
	border: 1px solid #bbb;
	box-shadow: 0 0 20px #1f1253;
}

.login-topbtm {
	display: block;
	background-color: #333;
	color: white;
	padding: 15px;
	/*height: 100%;*/
	overflow: auto;
}

.loginbox .col-xs-12 h1 { color: red; }

input {
	width: 85%;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #ccc;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 13pt;
}

input[type="submit"] {

  text-transform: uppercase;
  padding: .4em .8em;

  font-size: 22px;
  font-weight: 300;
  color: #786eaf;
  cursor: pointer;

  border-radius: 4px;
  border: 1px solid #786eaf;
  background: none;

	/*margin: auto;*/
  margin: 30px;

	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;

}

input[type="submit"]:hover{
	/*background-color: #ffc;*/
	/*border: 2px solid white;*/
/*
	color: black;
	cursor: pointer;
	border: 1px solid black;
*/
  background-color: white;
  color: #46379b;

  border-radius: 6px;
  border: 1px solid #46379b;

}


button{
}

button:hover, button:focus {
}

.error {
	margin: 0px 10px 10px 10px;
	border-radius: 5px;
	border: 1px solid #fbb;
	background-color: #fcc;
	/*padding: 10px;*/
}

form {
	margin: 0px;
}
/* ===================== */

th.sort-header {
  cursor:pointer;
  }
th.sort-header::-moz-selection,
th.sort-header::selection {
  background:transparent;
  }
table th.sort-header:after {
  content:'';
  float:right;
  margin-top:7px;
  border-width:0 4px 4px;
  border-style:solid;
  /*border-color:#404040 transparent;*/
  visibility:hidden;
  }
table th.sort-header:hover:after {
  visibility:visible;
  }
table th.sort-up:after,
table th.sort-down:after,
table th.sort-down:hover:after {
  visibility:visible;
  opacity:0.4;
  }
table th.sort-up:after {
  border-bottom:none;
  border-width:4px 4px 0;
  }

.toolbar .container.row {
	padding:0px;
}

.toolbar .container .row .col-xs-4,
.toolbar .container .row .col-xs-1 {
	/*padding: 0px;*/
	/*margin: 0px;*/
}

.loginout {
	margin-left:10px; 
	display:inline;
}

.col-xs-4,
.col-xs-8 {
	margin: 0px;
}

#edit {
	right: 20px;
	opacity: .8;
	display: none;
}

#edit:hover { cursor: pointer; }

@media (min-width: 992px) {
	.left-line {
		border-left: 1px solid #ddd;
		position: absolute;		
		/*height: 80%;*/
		margin-top: 5%;
		/*top: 0;*/
		/*bottom: 0;*/
		right: 0;
		padding-left: 30px;
		margin-left: 10px;
	}

	.right-of-line { padding-right: 20px; }

	.vcenter-container {
	  display: table;
	  width: 100%;
	  height: 100%;
	  position: absolute;
	}
	.vcenter-helper {
	  #position: absolute; /*a variation of an "lte ie7" hack*/
	  #top: 50%;
	  height: 100%;
	  width: 100%;

	  display: table-cell;
	  vertical-align: middle;

	  /*min-height: 265px;*/
	  padding: 5px;
	}

	.vcenter-content {
	  #position: relative;
	  #top: -50%;
	  margin: auto;
	}
}

.right-of-line p { 
	padding: 5px;
	text-align: justify; 
}

.fivelines {
  max-height: 100px; 
  line-height: 1em;
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
}