.dropdown {
  display: inline-block;

  .dropdown-toggle {
    background: none;
    border: none;
    padding: 0;

    &:after {
      content: "\f0d7";
      font-family: FontAwesome;
      margin-left: 10px;
      vertical-align: middle;
    }
  }

  .dropdown-menu {
    background: #fff;
    border: none;
    @include border-radius(2px);
    min-width: 120px;
    padding: 0;

    li:first-child {
      border-bottom: 1px solid #eee;
    }

    li {
      color: #999;
      cursor: pointer;

      &:hover {
        color: #333;
      }
    }
  }
}