.dropdown {
  display: inline-block;

  .dropdown-toggle {
    background: none;
    border: none;
    padding: 0;

    &:after {
      content: "\f0d7";
      font-family: FontAwesome;
      margin-left: 10px;
      vertical-align: middle;
    }
  }

  .dropdown-menu {
    background: #eee;
    border: none;
    @include border-radius(0);
    padding: 0;

    li {
      cursor: pointer;

      &:hover {
        color: #333;
      }
    }
  }
}