input[type=email],
input[type=text],
input[type=password] {
  border: none;
  @include border-radius(0);
  @include box-shadow(0, 0, 0, 0);
}

input[type=button],
input[type=submit],
button {
  // Currently unimplemented
}


// Change Chrome autocomplete color
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $very-light-purple inset;
}

select[multiple] {
  border: none;
  clip: rect(0px,60px,200px,0px);
  display: inline-block;
  margin: -10px 0px 5px 0px;
  overflow: hidden; 
  padding: 5px;
  width: 50%; 
  vertical-align: top;  

	&:focus {
		outline: none;
	}
}

error {
  color: $purple;
  font-style: italic;
  font-weight: 100;
}