input[type=email],
input[type=text],
input[type=password] {
  border: none;
  @include border-radius(0);
  @include box-shadow(0, 0, 0, 0);
}

input[type=button],
input[type=submit],
button {
  // Currently unimplemented
}


// Change Chrome autocomplete color
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $very-light-purple inset;
}

select[multiple] {
	font-size: 13pt;
	width: 100%;
	border: none;
	display:inline-block; 
	vertical-align:top; 
	overflow: hidden;
	padding: 5px;
	margin: -10px 0px 5px 0px;
	cursor: pointer;
	
	&:focus {
		outline: none;
	}
}

select option {
	border: 1px solid #ff00ff;
}