mixin edit_modal(action, modal_id, modal_title)
  .modal(id=modal_id tabindex="-1" role="dialog" data-keyboard="true" aria-hidden="true")
    .modal-dialog
      form.modal-content(id=modal_title method="post"  action=action  enctype="multipart/format-data")
        .modal-title= modal_title
        .modal-body
          block
        .modal-footer
          input(type="button"  value="Cancel" data-dismiss="modal")
          input(type="submit"  value="Save")