mixin edit_modal(action, modal_id, modal_title)
  .modal.fade(id=modal_id tabindex="-1" role="dialog" aria-hidden="true")
    .modal-dialog
      form.modal-content(id=modal_title method="post"  action=action  enctype="multipart/format-data")
        .modal-title= modal_title
        .modal-body
          block
        .modal-footer
          input(type="button"  value="Cancel" data-dismiss="modal")
          input(type="submit"  value="Save")

script.

  // Highlight label of input field on focus
  $('input[type=text], input[type=password], textarea').on('blur', function() {
    $(this).prev('.small-label').removeClass('small-label-focused');
  }).on('focus', function() {
    $(this).prev('.small-label').addClass('small-label-focused');
  });