mixin q_year_inputs()
  
  .inline-input-container
    .small-label Quarter
    input(type="text"  placeholder="1-4"  name="quarter"  autocomplete="off")

  .inline-input-container
    .small-label Year
    input(type="text"  name="year"  autocomplete="off")

  //- .checkbox-group
  //-   input(type="checkbox" name="delete" id=c.username value='delete')
  //-   label(for=c.username) Delete this data point

