.company-bkg {
  background: $company-bkg;

  .company-header {
    background: $company-header-bkg;
    @include box-shadow(0, 0, 2px, #000, inset);
    height: $company-header-height;
    padding-top: $toolbar-height + 80px;

    .company-header-edit {
      color: #666;
      float: right;
    }

    .company-header-info {

      .company-logo {
        background-color: #fff;
        @include border-radius(500px);
        @include box-shadow(0, 0, 3px, #000);
        @include inline-flex;
        float: left;
        height: 100px;
        overflow: hidden;
        text-align: center;
        width: 100px;

        img {
          margin: auto;
          width: 50px;
        }
      }

      .company-header-text {
        display: inline-block;
        margin-left: 40px;
        width: 600px;

        .company-name {
          margin-bottom: 20px;
        }

        .company-description {
          color: #999;
          font-size: 15px;
          line-height: 22px;
          width: 100%;
        }

        .company-website {
          font-size: 15px;
          margin-top: 10px;

          > a {
            color: #666;

            &:hover {
              color: $purple;
            }
          }
        }
      }
    }
  }

  .company-navbar {
    background-color: #eee;
    @include box-shadow(0, 0, 2px, rgba(0, 0, 0, 0.2));
    height: 50px;
    position: absolute;
    width: 100%;
    z-index: 50;
  }

  .company-content {
    margin: 120px 0;

    .content-block {
      display: inline-table;
      position: relative;
      width: 48%;

      .block-title {
        display: inline-block;
        margin: 0 0 10px 0;
      }

      .block-edit {
        color: #999;
        line-height: 20px;
        position: absolute;
        right: 0;
        top: 5px;
      }

      .block-info {
        color: #333;
        background-color: #fff;
        font-size: 15px;
        line-height: 30px;
        padding: 20px;

        a {
          color: $purple;

          &:hover {
            color: $dark-purple;
          }
        }

        h4 {
          font-weight: 500;
        }

        > div {
          margin: 0 0 20px 0;
        }
      }
    }

    .block-margin-right {
      margin-right: 4%;
    }

    .block-margin-bottom {
      margin-bottom: 4%;
    }
  }
}

.edit-btn {
  cursor: pointer;
  font-size: 15px;

  &:hover {
    color: $purple !important;
  }
}

.edit-disabled {
  color: #ccc !important;
  cursor: not-allowed !important;

  &:hover {
    color: #ccc !important;
  }
}