.company-bkg {

  .company-header-bkg {
    background-color: $company-header-bkg;
    @include box-shadow(0, 0, 2px, #000, inset);
    height: $company-header-height;
    position: absolute;
    width: 100%;
    z-index: -100;
  }

  .company-header {
    height: $company-header-height - $toolbar-height;

    .company-header-edit {
      color: #666;
      float: right;
      margin-top: 20px;
    }

    .company-header-info {
      padding-top: ((($company-header-height - $company-header-info-height) - $toolbar-height) / 2);

      .company-logo {

        // Temporarily hiding image
        display: none;
        height: 50px;
      }

      .company-name {
        color: #ddd;
        font-size: 35px;
        font-weight: 400;
        margin: 30px 0;
      }

      .company-description {
        color: #999;
        font-size: 15px;
        line-height: 22px;
        width: 50%;
      }
    }
  }

  .company-content {
    margin: 80px 0;

    .content-block {
      display: inline-table;
      margin: 2%;
      position: relative;
      width: 46%;

      .block-title {
        color: #999;
        display: inline-block;
        font-size: 30px;
        font-weight: 300;
        line-height: 100%;
        margin: 0 0 10px 0;
      }

      .block-edit {
        color: #999;
        line-height: 20px;
        position: absolute;
        right: 0;
        top: 5px;
      }

      .block-content {
        color: #333;
        background-color: #eee;
        font-size: 15px;
        line-height: 30px;
        padding: 20px;

        h2 {
          font-weight: 600;
          margin: 20px 0 0 0;
        }

        li {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}

.edit-btn {
  cursor: pointer;
  font-size: 15px;

  &:hover {
    color: $purple !important;
  }
}

.edit-disabled {
  color: #ccc !important;
  cursor: not-allowed !important;

  &:hover {
    color: #ccc !important;
  }
}