.company-bkg {

  .company-header {
    background: $company-header-bkg;
    @include box-shadow(0, 0, 2px, #000, inset);
    height: $company-header-height;
    padding-top: $toolbar-height + 100px;

    .company-header-edit {
      color: #666;
      float: right;
    }

    .company-header-info {

      .company-logo {
        background-color: #fff;
        @include border-radius(500px);
        display: none;


        img {
          
        }
      }

      .company-header-text {
        display: inline-block;

        .company-name {
          color: #ddd;
          font-size: 35px;
          font-weight: 400;
          line-height: 100%;
          margin-bottom: 20px;
        }

        .company-description {
          color: #999;
          font-size: 15px;
          line-height: 22px;
          width: 70%;
        }
      }
    }
  }

  .company-navbar {
    background-color: #eee;
    @include box-shadow(0, 0, 2px, rgba(0, 0, 0, 0.3));
    height: 50px;

    .navbar-tab {
      border-bottom: 3px solid transparent;
      color: #999;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      line-height: 47px;
      padding: 0 20px;
      text-transform: uppercase;

      &:hover {
        color: #666;
      }
    }

    .active-tab {
      border-color: $purple;
      color: $purple;

      &:hover {
        color: $purple;
      }
    }
  }

  .company-content {
    margin: 80px 0;

    .content-block {
      display: inline-table;
      position: relative;
      width: 48%;

      .block-title {
        color: #999;
        display: inline-block;
        font-size: 22px;
        font-weight: 300;
        line-height: 30px;
        margin: 0 0 10px 0;
      }

      .block-edit {
        color: #999;
        line-height: 20px;
        position: absolute;
        right: 0;
        top: 5px;
      }

      .block-info {
        color: #333;
        background-color: #eee;
        font-size: 15px;
        line-height: 30px;
        padding: 20px;

        a {
          color: $purple;

          &:hover {
            color: $dark-purple;
          }
        }

        h2 {
          font-weight: 500;
        }

        li {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }

        > div {
          margin: 0 0 20px 0;
        }
      }
    }

    .block-margin-right {
      margin-right: 2%;
    }

    .block-margin-bottom {
      margin-bottom: 2%;
    }
  }
}

.edit-btn {
  cursor: pointer;
  font-size: 15px;

  &:hover {
    color: $purple !important;
  }
}

.edit-disabled {
  color: #ccc !important;
  cursor: not-allowed !important;

  &:hover {
    color: #ccc !important;
  }
}