.dashboard-bkg {
  background-color: $dashboard-bkg;

  .toolbar-bkg-extension {
    background-color: $toolbar-bkg;
    height: $toolbar-extension-height;
    position: absolute;
    width: 100%;
    z-index: -100;
  }


  .dashboard-container {
    padding-top: $toolbar-extension-height - 127px;
    text-align: center;

    a.dashboard-btn {
      display: inline-block;
      margin: 0 20px;
      width: 160px;

      .btn-icon {
        color: $light-purple;
        font-size: 50px;
        line-height: 100%;
        text-align: center;
      }

      .btn-title {
        border-bottom: 10px solid $light-purple;
        color: $light-purple;
        font-size: 25px;
        font-weight: 400;
        line-height: 100%;
        padding: 20px 0;
        text-align: center;
      }

      .btn-text {
        color: #777;
        font-size: 16px;
        line-height: 24px;
        padding-top: 30px;
        text-align: center;
      }

      &:hover {
        @include opacity(0.5);
      }
    }
  }
}
