.modal {
  margin: 0 auto;

  .modal-dialog {
    margin-top: 5%;

    .modal-content {

      .modal-title {
        background-color: #eee;
        color: #666;
        font-size: 18px;
        font-weight: 500;
        line-height: 100%;
        margin-bottom: 40px;
        padding: 20px;
      }

      .modal-body {
        padding: 0 0 0 20px;

        .small-label {
          color: #999;
          margin: 5px 0 10px 0;
        }

        input,
        textarea {
          border-bottom: 1px solid #ddd;
          color: #666;
          height: 33px;
          font-size: 14px;
          line-height: 22px;
          margin-bottom: 20px;
          padding: 0 20px 0 0;
          resize: none;
          width: 100%;
        }

        input,
        textarea {

          &:hover {
            border-color: #ccc;
          }

          &:focus {
            color: #333;
            border-bottom: 2px solid $purple;
          }
        }
      }

      .modal-footer {
        padding: 40px 20px 20px 20px;

        input[type=button],
        input[type=submit] {
          background-color: transparent;
          border: none;
          font-size: 14px;
          font-weight: 500;
          margin: 0 0 0 10px;
          padding: 5px 15px;
          text-transform: uppercase;
        }

        input[type=button] {
          color: #bbb;

          &:hover {
            color: #aaa;
          }

          &:focus {
            color: #999;
          }
        }

        input[type=submit] {
          color: $purple;

          &:hover {
            color: darken($purple, 10%);
          }

          &:focus {
            color: darken($purple, 20%);
          }
        }
      }
    }
  }
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.9);
}