.modal {
  margin: 0 auto;
  top: 100px !important;

  .modal-dialog {

    .modal-content {
      padding: 40px;

      .modal-title {
        color: #999;
        font-size: 30px;
        font-weight: 300;
        line-height: 100%;
      }

      .modal-body {

      }

      .modal-footer {

      }
    }
  }
}