.modal {
  margin: 0 auto;
  top: 50px !important;

  .modal-dialog {

    .modal-content {

      .modal-title {
        background-color: #eee;
        color: #666;
        font-size: 18px;
        font-weight: 500;
        line-height: 100%;
        margin-bottom: 40px;
        padding: 20px;
      }

      .modal-body {
        padding: 0 20px;

        .small-label {
          color: #999;
          margin: 5px 0 10px 0;
        }

        input,
        textarea {
          border-bottom: 1px solid #ddd;
          color: #666;
          font-size: 15px;
          height: 33px;
          padding: 0;
          margin-bottom: 20px;
          resize: none;
          width: 100%;
        }

        input,
        textarea {

          &:hover {
            border-color: #ccc;
          }

          &:focus {
            color: #333;
            border-bottom: 2px solid $light-purple;
          }
        }
      }

      .modal-footer {
        padding: 40px 20px 20px 20px;

        input[type=button],
        input[type=submit] {
          border: none;
          color: #fff;
          font-size: 13px;
          font-weight: 500;
          margin: 0 0 0 10px;
          padding: 5px 15px;
          text-transform: uppercase;
        }

        input[type=button] {

          &:hover {
            background-color: #aaa;
          }

          &:focus {
            background-color: #999;
          }
        }

        input[type=submit] {
          background-color: $light-purple;

          &:hover {
            background-color: darken($light-purple, 10%);
          }

          &:focus {
            background-color: darken($light-purple, 20%);
          }
        }
      }
    }
  }
}