.modal {
  margin: 0 auto;

  .modal-dialog {
    max-height: 85%;
    margin-top: 2%;
    overflow-x: hidden;
    overflow-y: auto;

    .modal-content {
      @include border-radius(2px);
      margin-right: -1px;
      overflow: hidden; 

      .modal-title {
        color: #666;
        font-size: 18px;
        font-weight: 500;
        line-height: 100%;
        margin-bottom: 20px;
        padding: 20px;
      }

      .modal-body {
        padding: 0 20px;

        .small-label {
          color: #999;
          margin: 20px 0 0 0;
        }

        .small-label-focused {
          color: $purple;
        }

        input[type=text],
        input[type=password],
        textarea {
          border-bottom: 1px solid #ddd;
          color: #666;
          height: 33px;
          font-size: 15px;
          line-height: 22px;
          padding: 30px 0 15px 0;
          resize: none;
          width: 100%;
        }

        input[type=text],
        input[type=password],
        textarea {

          &:hover {
            border-color: #ccc;
          }

          &:focus {
            color: $purple;
            border-bottom: 2px solid $purple;
          }
        }

        .checkbox-group {
          margin: 20px 0 20px 0;
          width: 100%;

          label {
            color: #999;
            display: inline-block;
            font-size: 15px;
            line-height: 22px;

            &:before {
              color: #999;
              font-size: 18px;
              margin-right: 10px;
            }

            &:hover {
              color: #666;
            }
          }
        }

        .error {

          div {
            color: $red;
            display: none;
            font-size: 14px;
            margin: 20px 0;
          }
        }
      }

      .modal-footer {
        margin-top: -1px;
        padding: 20px;

        input[type=button],
        input[type=submit] {
          background-color: transparent;
          border: none;
          font-size: 14px;
          font-weight: 500;
          margin: 0 0 0 10px;
          padding: 5px 15px;
          text-transform: uppercase;
        }

        input[type=button] {
          color: #bbb;

          &:hover {
            color: #aaa;
          }

          &:focus {
            color: #999;
          }
        }

        input[type=submit] {
          color: $purple;

          &:hover {
            color: darken($purple, 10%);
          }

          &:focus {
            color: darken($purple, 20%);
          }
        }
      }
    }
  }

  // Stylize modal scrollbars
  ::-webkit-scrollbar {
    background: #fff;
    height: 12px;
    width: 14px;
  }

  ::-webkit-scrollbar-thumb {
      background: #ccc;
      @include border-radius(2px);
      border: 5px solid #fff;
      margin: 4px;
  }

  ::-webkit-scrollbar-corner {
      background: #000;
  }

}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.9);
}