.modal {
  margin: 0 auto;

  .modal-dialog {
    margin-top: 5%;

    .modal-content {
      overflow:hidden; 

      .modal-title {
        background-color: #eee;
        color: #666;
        font-size: 18px;
        font-weight: 400;
        line-height: 100%;
        margin-bottom: 40px;
        padding: 20px;
      }

      .modal-body {

        .small-label {
          color: #999;
          margin: 20px 0 0 20px;
        }

        input[type=text],
        input[type=password],
        textarea {
          border-bottom: 1px solid #ddd;
          color: #666;
          height: 33px;
          font-size: 14px;
          line-height: 22px;
          padding: 25px 20px;
          resize: none;
          width: 100%;
        }

        input[type=text],
        input[type=password],
        textarea {

          &:hover {
            border-color: #ccc;
          }

          &:focus {
            color: #333;
            border-bottom: 2px solid $purple;
          }
        }

        .checkbox-group {
          margin: 20px 0 20px 20px;
          width: 100%;

          label {
            color: #999;
            display: inline-block;
            font-size: 14px;
            line-height: 22px;

            &:before {
              font-size: 16px;
              margin-right: 10px;
            }

            &:hover {
              color: #666;
            }
          }
        }

        .error {

          span {
            color: $red;
            display: block;
            font-size: 14px;
            margin: 10px 20px;
          }
        }
      }

      .modal-footer {
        padding: 40px 20px 20px 20px;

        input[type=button],
        input[type=submit] {
          background-color: transparent;
          border: none;
          font-size: 14px;
          font-weight: 500;
          margin: 0 0 0 10px;
          padding: 5px 15px;
          text-transform: uppercase;
        }

        input[type=button] {
          color: #bbb;

          &:hover {
            color: #aaa;
          }

          &:focus {
            color: #999;
          }
        }

        input[type=submit] {
          color: $purple;

          &:hover {
            color: darken($purple, 10%);
          }

          &:focus {
            color: darken($purple, 20%);
          }
        }
      }
    }
  }
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.9);
}