.portfolio-bkg {
  background-color: $portfolio-bkg;

  .portfolio-toolbar {
    background-color: $portfolio-toolbar-bkg;
    @include box-shadow(0, 0, 2px, rgba(0, 0, 0, 0.2));
    height: $portfolio-toolbar-height;
    margin-top: $toolbar-height;
    position: absolute;
    width: 100%;
    z-index: 50;

    .toolbar-section {
      display: inline-block;

      .dropdown {
        margin-right: 80px;

        .dropdown-toggle {
          color: #999;
          font-size: 14px;
          font-weight: 400;
          line-height: $portfolio-toolbar-height;

          &:hover {
            color: #333;
          }
        }

        .dropdown-menu {
          margin-top: -1 * $portfolio-toolbar-height;

          .dropdown-header {
            font-size: 14px;
            line-height: $portfolio-toolbar-height - 2px;
          }

          li {
            font-size: 14px;
            line-height: $portfolio-toolbar-height;
          }
        }
      }

      .toolbar-btn {
        color: #999;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        line-height: $portfolio-toolbar-height;
        margin-left: 20px;

        &:hover {
          color: #333;
        }
      }

      > .active {
        color: $purple;

        &:hover {
          color: $purple;
        }
      }
    }
  } 

  .portfolio-content {
    padding: ($toolbar-height + $portfolio-toolbar-height + 40px) 0 40px 0;
  }
}