.portfolio-bkg {
  background-color: $portfolio-bkg;

  .portfolio-toolbar {
    background-color: $portfolio-toolbar-bkg;
    @include box-shadow(0, 0, 2px, rgba(0, 0, 0, 0.2));
    height: $portfolio-toolbar-height;
    margin-top: $toolbar-height;
    position: fixed;
    width: 100%;
    z-index: 50;

    .toolbar-section {
      display: inline-block;

      .menu {
        color: #999;
        font-size: 14px;
        font-weight: 500;
        line-height: $portfolio-toolbar-height;
        margin: 0 60px 0 0;

        &:hover {
          color: #333;
        }
      }

      .dropdown {
        display: none;
      }

      .toolbar-btn {
        color: #999;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        line-height: $portfolio-toolbar-height;

        &:hover {
          color: #333;
        }
      }
    }
  } 

  .portfolio-content {
    padding: ($toolbar-height + $portfolio-toolbar-height + 40px) 0 40px 0;
  }
}