/* I have not been through this page to make it simpler through Sass.
 * Will be doing this over the next couple of days.  Wasn't sure which classes
 * were 100% necessary.
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mixitup-container {
  padding: 2% 10% 2% 10%;
  text-align: justify;
  font-size: 0.1px;
  background: #68b8c4;
  
  -webkit-backface-visibility: hidden;
}

.mixitup-container:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.mixitup-container .mix,
.mixitup-container .gap {
  display: inline-block;
  width: 49%;
}

.mixitup-container .mix {
  text-align: left;
  background: #03899c;
  margin-bottom: 2%;
  display: none;
}

.mixitup-container .mix.category-1 {
  border-top: 2px solid #aaa;
}

.mixitup-container .mix.category-2 {
  border-top: 2px solid yellow;
}

.mixitup-container .mix:after {
  content: attr(data-myorder);
  color: white;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  padding: 4% 6%;
  font-weight: 700;
}

.mixitup-container .mix:before {
  content: '';
  display: inline-block;
  padding-top: 60%;
}


@media (max-width: 500px) {
  .mix { width:96%; }
}

@media (min-width: 500px) {
  .mix { width:46%; }
}

@media (min-width: 900px) {
  .mix { width: 30.5%; }
}

@media (min-width: 1000px) {
  .mix { width: 22.5%; }
}

.mix {
  display: none;
  background-color: #fff;
  color: #777;
  width: 190px;
  height: 190px;
  @include opacity(0.8);
  margin: 3px;
}

.mix:hover {
  border-bottom: 5px solid $light-purple;
  color: #333;
  cursor: pointer;
  @include opacity(1);
}

.v-center-container {
  display: table;
  position: absolute;
  width: 190px;
  height: 190px;
}

.v-center-content,
.v-center-helper {
  position: absolute;
  width: 190px;
  height: 190px;
  text-align: center;

  img {
    width: auto;
    height: auto;
    max-width: 140px;
    max-height: 80px;
    margin-top: 50px;
  }

  .name {
    bottom: 30px;
    font-size: 16px;
    position: absolute;
    width: 190px;
  }
}
