.portfolio-bkg {
  background-color: $portfolio-bkg;

  .portfolio-toolbar {
    background-color: $portfolio-toolbar-bkg;
    height: $portfolio-toolbar-height;
    margin-top: $toolbar-height;
    position: fixed;
    width: 100%;
    z-index: 50;

    .toolbar-section {
      display: inline-block;

      .menu {
        color: #666;
        font-size: 16px;
        font-weight: 600;
        line-height: $portfolio-toolbar-height;
        margin: 0 30px;

        &:hover {
          color: #fff;
        }
      }

      .dropdown {
        display: none;
      }

      .toolbar-btn {
        color: #666;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        line-height: $portfolio-toolbar-height;
        margin: 0 30px;

        &:hover {
          color: #fff;
        }
      }
    }
  } 

  .portfolio-content {
    padding: ($toolbar-height + $portfolio-toolbar-height + 40px) 0 40px 0;
  }
}