.toolbar {
  background: $toolbar-bkg;
  @include transition(background-color, 0.2s, ease-in-out);
  height: $toolbar-height;
  line-height: $toolbar-height - 6px;
  top: 0px;
  vertical-align: middle;
  width: 100%;
  z-index: 50;
    
  .pull-left {

    > * {
      margin-right: 30px;
    }
  }

  .pull-right {

    > * {
      margin-left: 30px;
    }
  }

  span {
    border-top: 3px solid transparent;
    color: #999;
    font-size: 14px;
    font-weight: 500;
  }

  a {
    border-top: 3px solid transparent;
    color: #777;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;

    &:hover {
      color: $purple;
    }
  }

  .active {
    border-color: $purple;
    color: $purple;
  }
}

.toolbar-absolute {
  position: absolute;
}

.toolbar-fixed {
  position: fixed;
}

.toolbar-light-shadow {
  @include box-shadow(0, 0, 2px, #bbb);
}

.toolbar-dark-shadow {
  @include box-shadow(0, 0, 2px, rgba(0, 0, 0, 0.5));
}

.toolbar-dark {
  background: $toolbar-dark-bkg !important;

  span {
    color: #666 !important;
  }

  a {
    color: #999 !important;

    &:hover {
      color: #fff !important;
    }
  }

  .active {
    border-color: #fff;
    color: #fff !important;
  }
}