html,
body {
  height: 100%;
}

.dashboard-container,
.portfolio-content,
.company-content,
.settings-container {

  // Equal to footer height
  min-height: 100%;

  &:after {
    content: '';
    display: block;
  }
}

// Surround content with this class so that it is centered on the page
.max-width {
  margin-left: auto;
  margin-right: auto;
  max-width: $website-max-width;
}