ul.max-width.nav-tabs(role="tablist")
  li.navbar-tab.active: a(href="#overview" role="tab" data-toggle="tab") Overview
  li.navbar-tab: a(href="#financials" role="tab" data-toggle="tab") Financials
  li.navbar-tab: a(href="#statistics" role="tab" data-toggle="tab") Statistics
  li.navbar-tab: a(href="#documents" role="tab" data-toggle="tab") Documents