ul.max-width.nav-tabs(role="tablist")
  li.navbar-tab.horizontal-tab.active: a(href="#overview" role="tab" data-toggle="tab") Overview
  li.navbar-tab.horizontal-tab: a(href="#operational" role="tab" data-toggle="tab") Operational Metrics
  li.navbar-tab.horizontal-tab: a(href="#user" role="tab" data-toggle="tab") User Metrics
  li.navbar-tab.horizontal-tab: a(href="#economics" role="tab" data-toggle="tab") Unit Economics