.tab-pane#operational
  .col-md-12.pane-header
    include quarter_info.jade

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-operational")
      i.fa.fa-pencil.fa-right
      | edit all

  .col-md-3
    h3 Gross Burn

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-operational-gross-burn")
      i.fa.fa-pencil

    .block-info.block-num
      if operational.gross_burn.length > 0
        | $#{operational.gross_burn[0].value}
      else
        | Add

  .col-md-3
    h3 Net Burn

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-operational-net-burn")
      i.fa.fa-pencil

    .block-info.block-num
      if operational.net_burn.length > 0
        | $#{operational.net_burn[0].value}
      else
        | Add

  .col-md-6
    h3 Burn By Quarter

    .block-info Graph

  .col-md-3
    h3 Revenue

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-operational-revenue")
      i.fa.fa-pencil

    .block-info.block-num
      if operational.revenue.length > 0
        | $#{operational.revenue[0].value}
      else
        | Add

  .col-md-9
    h3 Revenue By Quarter

    .block-info Graph

  .col-md-3
    h3 Head Count

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-operational-head-count")
      i.fa.fa-pencil

    .block-info.block-num
      if operational.head_count.length > 0
        | #{operational.head_count[0].value}
      else
        | Add

  .col-md-9
    h3 Head Count By Quarter

    .block-info Graph