.tab-pane#operational
  .col-md-12.pane-header
    include quarter_info.jade

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-operational")
      i.fa.fa-pencil.fa-right
      | edit all

  .col-md-3
    h3 Q1 2013 Gross Burn

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-operational-gross-burn")
      i.fa.fa-pencil

    .block-info.block-num $200,000

  .col-md-3
    h3 Q1 2013 Net Burn

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-operational-net-burn")
      i.fa.fa-pencil

    .block-info.block-num $150,000

  .col-md-6
    h3 Burn By Quarter

    .block-info Graph

  .col-md-3
    h3 Q1 2013 Revenue

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-operational-revenue")
      i.fa.fa-pencil

    .block-info.block-num $100,000

  .col-md-9
    h3 Revenue By Quarter

    .block-info Graph

  .col-md-3
    h3 Q1 2013 Head Count

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-operational-head-count")
      i.fa.fa-pencil

    .block-info.block-num 40

  .col-md-9
    h3 Head Count By Quarter

    .block-info Graph