.tab-pane.active#operational
  .col-md-2
    h3 Q1 2013 Gross Monthly Burn

    .block-edit.edit-btn(data-toggle="modal" data-target="")
      i.fa.fa-pencil

    .block-info $200,000

  .col-md-2
    h3 Q1 2013 Net Monthly Burn

    .block-edit.edit-btn(data-toggle="modal" data-target="")
      i.fa.fa-pencil

    .block-info $150,000

  .col-md-8
    h3 Monthly Burn By Quarter

    .block-info Graph