.tab-pane#operational
  .col-md-2
    h3 Q1 2013 Gross Monthly Burn

    .block-edit.edit-btn(data-toggle="modal" data-target="")
      i.fa.fa-pencil

    .block-info.block-num $200,000

  .col-md-2
    h3 Q1 2013 Net Monthly Burn

    .block-edit.edit-btn(data-toggle="modal" data-target="")
      i.fa.fa-pencil

    .block-info.block-num $150,000

  .col-md-8
    h3 Monthly Burn By Quarter

    .block-info Graph

  .col-md-2
    h3 Q1 2013 Revenue

    .block-edit.edit-btn(data-toggle="modal" data-target="")
      i.fa.fa-pencil

    .block-info.block-num $100,000

  .col-md-10
    h3 Revenue By Quarter

    .block-info Graph

  .col-md-2
    h3 Q1 2013 Head Count

    .block-edit.edit-btn(data-toggle="modal" data-target="")
      i.fa.fa-pencil

    .block-info.block-num 40

  .col-md-10
    h3 Head Count By Quarter

    .block-info Graph