.tab-pane.row.graph-pane#user

  .col-md-12.pane-header
    include quarter_info.jade


  .row.bottom-line
    script(type="text/javascript").
      var avg_dau_data = !{JSON.stringify(user_metrics.avg_dau)};

    .col-md-2:  +data_list("AVG DAU", "user-dau", user_metrics.avg_dau)
    .col-md-10: +data_graph("AVG DAU by Quarter", "avgDau", user_metrics.avg_dau.length, true, false)


  .row.bottom-line
    script(type="text/javascript").
      var avg_mau_data = !{JSON.stringify(user_metrics.avg_mau)};

    .col-md-2:  +data_list("AVG MAU", "user-mau", user_metrics.avg_mau)
    .col-md-10: +data_graph("AVG MAU by Quarter", "avgMau", user_metrics.avg_mau.length, true, false)


  .row.bottom-line
    script(type="text/javascript").
      var churn_data = !{JSON.stringify(user_metrics.churn)};

    .col-md-2:  +data_list("Churn", "user-churn", user_metrics.churn)
    .col-md-10: +data_graph("Churn by Quarter", "churn", user_metrics.churn.length, true, false)

