.tab-pane#user
  .col-md-12.pane-header
    include quarter_info.jade

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-user")
      i.fa.fa-pencil.fa-right
      | edit all

  .col-md-3
    h3 Q1 2013 AVG DAU

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-user-dau")
      i.fa.fa-pencil

    .block-info.block-num 1,000

  .col-md-9
    h3 AVG DAU By Quarter

    .block-info Graph

  .col-md-3
    h3 Q1 2013 AVG MAU

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-user-mau")
      i.fa.fa-pencil

    .block-info.block-num 30,000

  .col-md-9
    h3 AVG MAU By Quarter

    .block-info Graph

  .col-md-3
    h3 Q1 2013 Churn

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-user-churn")
      i.fa.fa-pencil

    .block-info.block-num 5%

  .col-md-9
    h3 Churn By Quarter

    .block-info Graph