.tab-pane#user
  .col-md-12.pane-header
    include quarter_info.jade

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-user")
      i.fa.fa-pencil.fa-right
      | edit all

  .col-md-3
    h3 AVG DAU

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-user-dau")
      i.fa.fa-pencil

    .block-info.block-num
      if user_metrics.avg_dau.length > 0
        | #{user_metrics.avg_dau[0].value}
      else
        | Add

  .col-md-9
    h3 AVG DAU By Quarter

    .block-info Graph

  .col-md-3
    h3 AVG MAU

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-user-mau")
      i.fa.fa-pencil

    .block-info.block-num
      if user_metrics.avg_mau.length > 0
        | #{user_metrics.avg_mau[0].value}
      else
        | Add

  .col-md-9
    h3 AVG MAU By Quarter

    .block-info Graph

  .col-md-3
    h3 Churn

    .block-edit.edit-btn(data-toggle="modal" data-target="#edit-user-churn")
      i.fa.fa-pencil

    .block-info.block-num
      if user_metrics.churn.length > 0
        | #{user_metrics.churn[0].value}%
      else
        | Add

  .col-md-9
    h3 Churn By Quarter

    .block-info Graph