html,
body {
  height: 100%;
}

.dashboard-container,
.portfolio-container {

  // Equal to footer height
  margin-bottom: -1 * $footer-height;
  min-height: 100%;
  padding-top: $toolbar-height;

  &:after {
    content: '';
    display: block;
  }
}