@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,500italic,700italic,900,900italic);

body,
input,
textarea,
button {
  font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}